<h2>
  <%= t('fb_app_plugin.views.myprofile.catalogs.heading') %> <%= button 'help', _('Help'), 'http://cirandas.net/cirandasnoface/monte-uma-vitrine-da-economia-solidaria-no-facebook-gratuitamente' %>
</h2>

<% profile.fb_app_page_tabs.each do |page_tab| %>
  <%= render 'fb_app_plugin_page_tab/config', page_tab: page_tab %>
<% end %>

<div id="new-catalog">
  <%= render 'fb_app_plugin_page_tab/config', page_tab: profile.fb_app_page_tabs.build(owner_profile: profile) %>
</div>

<%= render file: 'shared/tiny_mce', locals: {mode: 'simple'} %>

