<h1><%= t('fb_app_plugin.lib.plugin.name') %></h1>

<%= button(:back, _('Back to control panel'), :controller => 'profile_editor') %>

<div id="fb-app-connect-status">
  <%= render 'intro' if @auth.not_authorized? %>
  <div id="fb-app-auth">
    <%= render 'auth' %>
  </div>
</div>

<% if @auth.connected? or Rails.env.development? %>
<% if FbAppPlugin.test_user? user %>
  <div id="fb-app-timeline">
    <h2>
      <%= t('fb_app_plugin.views.myprofile.timeline.heading') %>
    </h2>

    <div id="track-form">
      <%= render 'track_form' %>
    </div>
  </div>
<% end %>

  <div id="fb-app-catalogs">
    <%= render 'catalogs' %>
  </div>
<% end %>

<div class='clean'></div>
<%= button(:back, _('Back to control panel'), {:controller => 'profile_editor'}, :class => 'fb-app-final-back-button') %>
