<h1><%= t('fb_app_plugin.lib.plugin.name') %></h1>

<%= button(:back, _('Back to control panel'), :controller => 'profile_editor') %>

<div id="fb-app-connect-status">
  <%= render 'intro' if @auth.not_authorized? %>
  <div id="fb-app-auth">
    <%= render 'auth' %>
  </div>
</div>

<% if @auth.connected? or Rails.env.development? %>
  <div id="fb-app-catalogs">
    <%= render 'catalogs' %>
  </div>

  <div id="fb-app-timeline">
    <h2>
      <%= t('fb_app_plugin.views.myprofile.timeline.heading') %>
    </h2>

    <% unless FbAppPlugin.test_user? user %>
      <h3>
        <%= t('fb_app_plugin.views.myprofile.timeline.explanation_title') %>
      </h3>
      <p>
        <%= t('fb_app_plugin.views.myprofile.timeline.explanation_text') %>
      </p>
    <% else %>
      <div id="track-form">
        <%= render 'track_form' %>
      </div>
    <% end %>
  </div>

<% end %>

<div class='clean'></div>
<%= button(:back, _('Back to control panel'), {:controller => 'profile_editor'}, :class => 'fb-app-final-back-button') %>
