<h1><%= t('fb_app_plugin.lib.plugin.name') %></h1>

<%= button(:back, _('Back to control panel'), :controller => 'profile_editor') %>

<div id="fb-app-connect-status">
  <%= render 'intro' if @auth.not_authorized? %>
  <div id="fb-app-auth">
    <%= render 'auth' %>
  </div>
</div>

<% if @auth.connected? or Rails.env.development? %>
  <div id="fb-app-catalogs">
    <%= render 'catalogs' %>
  </div>

    <div id="fb-app-timeline">
      <% if profile.person? %>
        <h2>
          <%= t('fb_app_plugin.views.myprofile.timeline.heading') %>
        </h2>

        <% unless FbAppPlugin.test_user? user %>
          <h3>
            <%= t('fb_app_plugin.views.myprofile.timeline.explanation_title') %>
          </h3>
          <p>
            <%= t('fb_app_plugin.views.myprofile.timeline.explanation_text') %>
          </p>
        <% else %>
          <div id="track-form">
            <%= render 'track_form', context: :fb_app %>
          </div>
        <% end %>
      <% else %>
        <%= t('fb_app_plugin.views.myprofile.timeline.organization_redirect') % {
          type: t("fb_app_plugin.views.myprofile.timeline.organization_from_#{profile.class.name.underscore}"),
          redirect_link: link_to(t('fb_app_plugin.views.myprofile.timeline.redirect_link'), host: FbAppPlugin.config[:app][:domain], profile: user.identifier, controller: :fb_app_plugin_myprofile),
        } %>
      <% end %>
    </div>

<% end %>

<div class='clean'></div>
<%= button(:back, _('Back to control panel'), {:controller => 'profile_editor'}, :class => 'fb-app-final-back-button') %>
