<h3>
  <% if @admin_edit %>
    <%= _("Orders from \"%{consumer}\" on this cycle") % {:consumer => @consumer.name} %>
  <% elsif @consumer %>
    <%= _("Your orders on this cycle") %>
    <%= link_to _('new order'), {:controller => :distribution_plugin_order, :action => :new, :session_id => @session.id} if !@admin_edit and @session.orders? %>
  <% end %>
</h3>

<% if @admin_edit %>
  <div id="order-admin-warning" class="order-message">
    <div class="order-message-text">
      <%= _("<strong>Caution</strong>, you are editing the orders of \"%{consumer}\". It is preferable
                to make small editions through the cycle's administration, this way the person will be properly
                warned of the updates. We recommend using this page only if you're doing the order for the person") % {
        :consumer => @consumer.name } %>
    </div>
    <div class="order-message-actions">
      <%= link_to _('Edit your orders'), {:controller => :distribution_plugin_order, :action => :edit, :session_id => @session.id} %>&emsp;
      <%# link_to _('Orders from another member'), {:controller => :distribution_plugin_order, :action => :reopen, :id => @order.id} %>
      <%= link_to _('Administration of this cycle'), {:controller => :distribution_plugin_session, :action => :edit, :id => @session.id} %>&emsp;
    </div>
  </div>
  <div id="order-place-new" class="admin">
    <%= link_to _("New order"), {:controller => :distribution_plugin_order, :action => :admin_new, :consumer_id => @order.consumer.id, :session_id => @session.id} if @session.orders? %>
  </div>
<% else %>
  <% if @consumer.nil? %>
    <% message = _("To place an order you need to be logged in and registered in the collective.") %>
    <% message += thickbox_inline_popup_link(_('Login.'), login_url, 'inlineLoginBox', :id => 'link_login') %>
    <% unless @plugins.dispatch(:allow_user_registration).include?(false) %>
      <% message += _('Or ') + link_to(_('sign up'), :controller => 'account', :action => 'signup')%>
    <% end %>
  <% else %>
    <% if @session.orders? %>
      <% if @consumer_orders.count == 0 %>
        <% message = _("You haven't placed any order on this cycle yet.") %>
      <% end %>
    <% elsif @session.edition? %>
      <% message = _("This cycle is not open yet.") %>
    <% else %>
      <% message = _("This cycle is already closed.") %>
    <% end %>
  <% end %>
  <% if message %>
    <div id="order-place-new">
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="cleaner"></div>

<% @consumer_orders.each do |order| %>
  <div id="consumer-order-<%= order.id %>" class="consumer-order <%= "edit" if @order == order %>">

    <%= render :partial => 'status', :locals => {:order => order} %>

    <% if @order == order %>
      <% unless order.open? %>
        <div id="order-status-message" class="order-message status-<%= order.current_status %>">
          <div class="order-message-text">
            <% if order.confirmed? %>
              <%= _("Your order is confirmed and registered. Please follow the guidelines of the delivery method below, so that it happens without problems.") %>
            <% elsif order.cancelled? %>
              <%= _("Your order was cancelled.") %>
            <% else %>
              <%= _("Your order wasn't confirmed and the cycle orders period already ended.") %>
            <% end %>
          </div>
          <div class="order-message-actions">
            <div><%= _('You still can:') %></div>
            <% if @session.orders? %>
              <%= link_to _('change order'), {:controller => :distribution_plugin_order, :action => :reopen, :id => order.id}  %>
              <%= _('(before the closing)') %>&emsp;
            <% end %>
            <%= colorbox_link_to _('send message to the managers'), {:controller => :distribution_plugin_message, :action => :new_to_admins} %>
          </div>
        </div>
      <% end %>

      <div id="order-products">
        <%= render :partial => 'products', :locals => {:order => order} %>
      </div>

      <div id="delivery-box">
        <%= render :partial => 'delivery', :locals => {:order => order} %>
      </div>

      <div class="cleaner"></div>
    <% end %>
  </div>
<% end %>

