<% form_for :order, order, :url => {:controller => :distribution_plugin_order, :action => :confirm, :id => order} do |f| %>
  <% if order.session.delivery_methods.count > 0 %>
    <div>
      <h3><%= _("Delivery Method") %></h3>
      <strong><%= order.supplier_delivery.name %></strong>
      <div class="subtitle"><%= order.supplier_delivery.description %></div>
    </div>

    <% if order.open? and order.session.delivery_methods.count > 1 %>
      <%= labelled_field f, :supplier_delivery_id, _('Choose another:'),
        f.select(:supplier_delivery_id, order.session.delivery_methods.collect{ |d| [d.name, d.id] }, {},
                 :onchange => "jQuery('#delivery-box').load('#{url_for(:action => :render_delivery, :id => order.id)}', jQuery(this).parents('form').serialize());"),
        :class => 'subtitle' %>
    <% end %>
  <% end %>

  <div>
    <% if order.open? %>
      <%= f.submit _('Confirm order') %>&emsp;
      <%= link_to _('cancel order'), {:controller => :distribution_plugin_order, :action => :cancel, :id => order.id} %>
    <% end %>
  </div>
<% end %>
