            <%
            unit = product.product.product.unit
            unit ||= Unit.first
            order_quantity = '+'
            in_order = ""
            @order_products.each do | o_product |
            if o_product.session_product_id == product.id
              order_quantity = o_product.quantity_asked 
              @o_product = o_product
              in_order="in_order"
              break
            end
            end
          %>
          <div id="session_product_<%=product.id%>">
            <% if not first -%>
              <div class="spacer"></div>
            <% end %>
            <div class="value_row<%= " #{in_order}"%>">
              <div class="box_fields"><div class="supplier">
                  <%= product.product.supplier.profile.name %> 
              </div></div>
              <div class="box_fields"><div class="product">
                  <%= product.product.product.name%>
              </div></div>
              <div class="box_fields">
                <div class="price">
                  <%= price_span(product.price) +"/<span class='lower'>#{unit.singular}</span>" %>
                </div>
              </div>
              <div class="box_fields">
                <% block_id_name="session_order_quantity"+product.id.to_s%>
                <div id=<%=block_id_name%> class="quantity">
                  <div class="quantity_number">
                    <% if order_quantity == '+' %>
                      <%= render :partial => "distribution_plugin_ordered_product/add_quantity", :locals => {:order => @order, :product => product} %>
                    <% else %>
                      <%= render :partial => "quantity_link", :locals => {:product => @o_product} %>
                    <% end %>
                  </div>
                  <div class="quantity_entry">
                    <span> <%= text_field_tag('quantity_asked', @o_product.quantity_asked)%></span>
                    <span class="lower"><%= unit.singular %></span>
                  </div>
                </div>
              </div>
              <div class="cleaner"></div>
              <div class="session_product_more_info">
                <div class="box_fields"><div class="product_desc">
                    <p><%= product.product.product.description%></p>
                    <p><%= "#{product.product.supplier.profile.city}/#{product.product.supplier.profile.state}"%></p>
                </div></div>
                <div class="box_fields"><div class="price">
                    <%= product.product.product.price%>
                  </div>
                  <div class="product_image">
                    <%= _('Product Image'); %>
                  </div>
                </div>
                <div class="box_fields"><div class="quantity distribution_button">
                    <%= link_to_remote(_('Add'),
                                       :url => {:controller => 'distribution_plugin_ordered_product',
                                         :action => "new",
                                         :order_id => @order,
                                         :session_product_id => product
                    }) %>
                </div></div>
              </div>
              <div class="cleaner"></div>
            </div>
          </div>
        <% javascript_tag do %>
          jQuery("#session_product_<%=product.id%>").click(distributionSessionRowSetSelected);
        <% end %>
