<div id="page-tab-<%= page_tab.id || 'new' %>" class='page-tab'>

  <% if page_tab.page_id %>
    <h3>
      <%= page_tab.name %>
      <%= button_to_function_without_text 'edit', t('fb_app_plugin.views.myprofile.catalog.see_page'), "jQuery('#edit_tab_"+page_tab.id.to_s+"').toggle(400)", class: 'edit-tab-button'  %>
      <%= button_to_function_without_text 'remove', t('fb_app_plugin.views.myprofile.catalog.see_page'), "", class: 'edit-tab-button'  %>
      <%# button nil, t('fb_app_plugin.views.myprofile.catalog.see_page'), "https://facebook.com/#{page_tab.page_id}/app_#{FbAppPlugin.page_tab_app_credentials[:id]}", target: '_blank'  %>
      <%# button nil, t('fb_app_plugin.views.myprofile.catalog.see_page'), "https://facebook.com/#{page_tab.page_id}", target: '_blank'  %>
    </h3>
  <% else %>
    <%= button_to_function 'add', t('fb_app_plugin.views.myprofile.catalogs.new'), "jQuery(this).toggle();jQuery('#page-tab-new h3, #add_tab').toggle(400)" %>
  <% end %>

  <%= render 'fb_app_plugin_page_tab/configure_form', page_tab: page_tab, signed_request: nil %>

</div>
