<%= render 'configure_button' %>

<div id="product-catalog">
  <% if user.present? and (user.is_admin?(profile.environment) or user.is_admin?(profile)) %>
    <div class="product-catalog-ctrl">
      <%= button :add, _('Add product or service'), controller: :manage_products, action: :new, profile: profile.identifier %>
    </div>
  <% end %>

  <%= content_for :product_page do %>
    <%= render 'catalog/results' %>
  <% end %>
  <%= render 'catalog/search' %>
  <%= render 'catalog/javascripts', external: false %>

  <%= add_zoom_to_images %>
</div>

<%= render 'load' %>

