<div id="fb-app-catalog-wrapper" class="<%= 'fb-app-standalone' if @signed_request.blank? %>">

  <%= render 'load' %>

  <%= render 'title_and_subtitle' %>

  <div id="product-catalog" >
    <div id="product-catalog-actions">
      <% if @page_tab.config_type == :profile %>
        <% if profile and user.present? and (user.is_admin?(environment) or user.is_admin?(profile)) %>
          <div class="product-catalog-ctrl">
            <%= button :add, _('Add product or service'), controller: :manage_products, action: :new, profile: profile.identifier %>
          </div>
        <% end %>
      <% end %>

      <%= render 'configure_button' %>
    </div>

    <%= content_for :product_page do %>
      <%= render 'catalog/results' %>
    <% end %>
    <%= render 'catalog/search' %>
    <%= render 'catalog/javascripts', external: false %>
  </div>

  <%= render 'footer' %>

  <%= javascript_tag do %>
    catalog.base_url_path = <%= url_for(controller: :fb_app_plugin_page_tab, action: :index, page_id: params[:page_id], signed_request: params[:signed_request]).to_json %> + '&'
  <% end %>

</div>
