<div class="box-view with-inner">
  <div class="box-field select" toggle-ignore><%= check_box_tag "product_ids[]", product.id %></div>

  <div class="box-view-inner">
    <div class="box-field status"><%= if product.available then t('views.product._edit_line.active') else t('views.product._edit_line.inactive') end %></div>
    <div class="box-field category"><%= product.category_name %></div>
    <div class="box-field supplier"><%= product.supplier.abbreviation_or_name %></div>
    <div class="box-field product box-edit-link"><%= product.name %></div>
    <div class="box-field margin"><%= "#{product.margin_percentage_localized}%" %></div>
    <div class="box-field price"><%= price_span(product.price_as_currency_number || '-')  %></div>
    <div class="box-field stock"><%= product.stored || '∞' %></div>
    <div class="box-field unit"><%= product.unit.name %></div>
  </div>

  <%= edit_arrow "#our-product-#{product.id}", false %>

  <div class="clean"></div>
</div>

<%= render :partial => 'suppliers_plugin_product/edit', :locals => {:product => product} %>

