<div class="box-edit">

  <% form_remote_for :product, product, :loading => "distribution.setLoading('our-product-#{product.id}')", :loaded => "distribution.unsetLoading('our-product-#{product.id}')", :url => {:controller => :suppliers_plugin_product, :action => :edit, :id => product ? product.id : nil} do |f| %>

    <div class="internal-edit">
      <div class="title">
        <%= t('suppliers_plugin.views.product._edit.distribution_setts') %>
      </div>

      <div class="row">
        <div class="block margin-price">
          <div class="field">
            <%= f.label :margin_percentage, t('suppliers_plugin.views.product._edit.margin_price') %>
          </div>

          <div>
            <%= f.check_box :default_margin_percentage %>
            <%= f.label :default_margin_percentage, t('suppliers_plugin.views.product._edit.default_margin') %>
          </div>

          <div>
            <span class="field-secondary with-unit">
              <%= f.text_field :margin_percentage %>
              <span class="field-unit"> <%= '%' %> </span>
            </span>
            <span class="field-secondary with-unit">
              <%= hidden_field_tag :base_price, product.from_product.price %>
              <span class="field-unit"> <%= environment.currency_unit %> </span>
              <%= f.text_field :price %>
            </span>
          </div>
        </div>

        <div class="block stock">
          <div class="field">
            <%= f.label :stock, t('suppliers_plugin.views.product._edit.stock') %>
          </div>

          <div>
            <%= f.check_box :default_stored %>
            <%= f.label :default_stored, t('suppliers_plugin.views.product._edit.default_stock') %>
          </div>

          <div>
            <span class="field-secondary">
              <%= f.label :stored, t('suppliers_plugin.views.product._edit.current_stock') %>
              <%= f.text_field :stored %>
            </span>
          </div>
        </div>
      </div>

    </div>_

    <%= link_to_function t('suppliers_plugin.views.product._edit.cancel'), :class => 'toggle-edit' %>
    <%= link_to_remote t('suppliers_plugin.views.product._edit.remove_product'), :confirm => t('suppliers_plugin.views.product._edit.are_you_sure_you_want'), :loading => "distribution.setLoading('our-product-#{product.id}')", :loaded => "distribution.unsetLoading('our-product-#{product.id}')", :url => {:controller => :suppliers_plugin_product, :action => 'destroy', :id => product.id } %>
  <% end %>

</div>

