<% new_record = !product || product.new_record? %>
<%  product_label = (new_record ? "add" : product.id ) %>

<div class="box-edit" style="<%= "display: none" unless new_record %>">

  <div class="title">
    <% if new_record %>
      <%= t('suppliers_plugin.views.product._edit.add_product_to_the_li') %>
    <% else %>
      <%= t('suppliers_plugin.views.product._edit.editing_distributed_p') %>
    <% end %>
  </div>

  <% form_remote_for :product, product, :loading => "distribution.setLoading('our-product-#{product_label}')", :loaded => "distribution.unsetLoading('our-product-#{product_label}')", :url => {:controller => :suppliers_plugin_product, :action => new_record ? :new : :edit, :id => product ? product.id : nil} do |f| %>
    <%= supplier_select f, profile, product.supplier, new_record %>

    <% if product.blank? or (!product.own? and (product.supplier.blank? or @not_distributed_products)) %>
      <%= render :partial => 'suppliers_plugin_product/select_missing' %>
    <% else %>
      <%= f.hidden_field :supplier_product_id if new_record %>

      <div class="our-product-columns">

        <div class="our-product-distributed-column">
          <div class="column-title">
            <%= product.own? ? t('suppliers_plugin.views.product._edit.own_product') : t('suppliers_plugin.views.product._edit.how_we_distribute_the') %>
          </div>

          <div id=product-errors-<%=product.new_record? ? 'add' : product.id%> class=distribution-product-errors></div>

          <div class="properties-block">
            <%= labelled_field f, :name, t('suppliers_plugin.views.product._edit.name'), f.text_field(:name, :oldvalue => product.own_name) %>
            <%= labelled_field f, :description, t('suppliers_plugin.views.product._edit.description'), f.text_area(:description, :oldvalue => product.own_description) %>

            <div class="cleaner"></div>
          </div>

          <% unless product.own? %>
            <div class="properties-block">
              <div class="margin-line">
                <%= labelled_field f, :margin_percentage, t('suppliers_plugin.views.product._edit.margin'),
                  f.text_field(:margin_percentage, :class => 'small-input',
                               :value => product.own_margin_percentage_as_currency_number, :oldvalue => product.own_margin_percentage_as_currency_number, :defaultvalue => product.original_margin_percentage_as_currency_number,
                               :onkeyup => 'distribution.our_product.pmsync(this, true);') +
                  ' ' + t('suppliers_plugin.views.product._edit.%') %>
                <div class="default-margin">
                  <%= f.check_box :default_margin_percentage, :onchange => "distribution.our_product.toggle_referred(this)", :for => '#product_margin_percentage' %>
                  <%= f.label :default_margin_percentage, t('suppliers_plugin.views.product._edit.use_default_margin') %>
                </div>

                <div class="cleaner"></div>
              </div>

              <div class="cleaner"></div>
            </div>
          <% end %>

          <%= render :partial => 'suppliers_plugin_product/price_details', :locals => {:f => f, :product => product, :supplier_product => false} %>

          <%= f.check_box :available, :style => 'float: left' %>
          <%= f.label :available, t('suppliers_plugin.views.product._edit.commercialization_act'), :class => 'line-label' %>

          <%# f.check_box :use_stock %>
          <%# f.label :use_stock, t('suppliers_plugin.views.product._edit.commercialization_act'), :class => 'line-label' %>
        </div>

        <% unless product.own? %>
          <div class="our-product-use-original-column">
            <div class="column-title"><%= t('suppliers_plugin.views.product._edit.use_original') %></div>
            <div class="guideline">
              <%= f.check_box :default_name, :class => 'default-checkbox', :for => '#product_name',
                :onchange => "distribution.our_product.toggle_referred(this)" unless product.default_name.nil? %>
              <%= f.check_box :default_description, :class => 'default-checkbox', :for => '#product_description',
                :onchange => "distribution.our_product.toggle_referred(this)" unless product.default_description.nil? %>
              <%= f.check_box :default_price, :class => 'default-checkbox', :for => '#product_price, #product_unit_id, #product_minimum_selleable, #product_unit_detail',
                :onchange => "distribution.our_product.toggle_referred(this)" unless product.default_price.nil? %>
            </div>
          </div>

          <div class="our-product-supplied-column alignment2x <%= "dummy-product" if product.supplier_dummy? %>">
            <div class="column-title"><%= t('suppliers_plugin.views.product._edit.how_we_order_the_prod') %></div>

            <div id=supplier-product-errors-<%=product.new_record? ? 'add' : product.id%> class=distribution-product-errors></div>

            <% f.fields_for :supplier_product, product.supplier_product do |f| %>
              <% if product.supplier_dummy? %>
                <div class="properties-block subtitle">
                  <%= t('suppliers_plugin.views.product._edit.managed_registry') %>
                </div>
              <% else %>
                <div class="properties-block disabled-fields">
                  <%= labelled_field f, :name, t('suppliers_plugin.views.product._edit.name'), f.text_field(:name, :disabled => 'disabled', :onkeyup => 'distribution.our_product.sync_referred(this)') %>
                  <%= labelled_field f, :description, t('suppliers_plugin.views.product._edit.description'), f.text_area(:description, :disabled => 'disabled', :onkeyup => 'distribution.our_product.sync_referred(this)') %>
                </div>
              <% end %>

              <%= render :partial => 'suppliers_plugin_product/price_details', :locals => {:f => f, :product => product.supplier_product, :supplier_product => true} %>
            <% end %>
          </div>
        <% end %>

        <% javascript_tag do %>
          distribution.our_product.load(jQuery('#our-product-<%=product.new_record? ? 'add' : product.id%>'));
        <% end %>
      </div>

      <div class="cleaner">
        <%= f.submit t('suppliers_plugin.views.product._edit.save') %>
        <%= link_to_function t('suppliers_plugin.views.product._edit.cancel'), :class => 'toggle-edit' %>
        <%= link_to_remote t('suppliers_plugin.views.product._edit.remove_product'), :confirm => t('suppliers_plugin.views.product._edit.are_you_sure_you_want'), :loading => "distribution.setLoading('our-product-#{product.id}')", :loaded => "distribution.unsetLoading('our-product-#{product.id}')", :url => {:controller => :suppliers_plugin_product, :action => 'destroy', :id => product.id } unless new_record %>
      </div>
    <% end %>
  <% end %>

  <div class="cleaner"></div>
</div>

<div class="cleaner"></div>

