<div id="result-count" class="">
  <small><%= t('views.product._search.showing_pcount_produc') % {count: @products.count} %></small>
</div>

<div id="results" class="sortable-table wireframe-size checkable">
  <div class="table-header" style="<%= "display: none" if @products.empty? %>">
    <div class="box-field status"><%=t('views.product._search.status')%></div>
    <div class="box-field category"><%=t('views.product._search.category')%></div>
    <div class="box-field supplier"><%=t('views.product._search.supplier')%></div>
    <div class="box-field product"><%=t('views.product._search.product')%></div>
    <div class="box-field margin"><%=t('views.product._search.margin')%></div>
    <div class="box-field price"><%=t('views.product._search.price')%></div>
    <div class="box-field stock"><%=t('views.product._search.stock')%></div>
    <div class="box-field unit"><%=t('views.product._search.unit')%></div>
  </div>

  <div class="table-content">
    <% if @products.empty? %>
      <%= t('views.product._search.we_don_t_have_product') %>
    <% else %>
      <%= render 'results' %>
    <% end %>

    <div class="clean"></div>
  </div>
</div>

