<%
  actions = true if actions.nil? and @admin
  listing = false if listing.nil?
  view = params[:view] || cycle.status
%>

<div class="cycle-timeline">
  <% OrdersCyclePlugin::Cycle::UserStatuses.each do |status| %>
    <%
      klass = "cycle-timeline-item #{timeline_class cycle, status, view}"
      name = t("views.cycle._timeline.#{status}")
    %>

    <%= link_to name, params.merge(:action => :edit, :id => cycle.id, :view => status), :class => klass %>
  <% end %>
</div>

<% if listing %>
  <div class="dates-brief">
    <div class="date">
      <span class="field-title"><%= t('views.cycle._brief.orders') %></span>&emsp;
      <span><%= datetime_period_short(cycle.start, cycle.finish) %></span>
    </div>
    <div class="date">
      <span class="field-title"><%= t('views.cycle._brief.delivery') %></span>&emsp;
      <span><%= datetime_period_short(cycle.delivery_start, cycle.delivery_finish) %></span>
    </div>
  </div>
<% end %>

<% if actions %>
  <div class="actions-bar">
    <%= render "orders_cycle_plugin_cycle/actions/#{view}", :cycle => cycle %>

    <strong><%= t('views.cycle._timeline.actions') %></strong>

    <div class="clean"></div>
  </div>
<% end %>

