<% happening = true if !defined?(happening) or happening.nil? %>

<table id='cycle-dates'>
  <tr class="orders-date <%= "happening" if happening and cycle.orders? %>">
    <th>
      <strong><%= t('views.cycle._view_dates.orders') %>&emsp;</strong>
    </th>
    <td>
      <%= datetime_period_with_day cycle.start, cycle.finish %>
    </td>
    <% if happening and cycle.orders? %>
      <td class='happening'> <%= t('views.cycle._view_dates.happening') %> </td>
    <% end %>
  </tr>

  <tr class="delivery-date">
    <th>
      <strong><%=t('views.cycle._view_dates.delivery') %>&emsp;</strong>
    </th>
    <td>
      <%= datetime_period_with_day cycle.delivery_start, cycle.delivery_finish %>
    </td>
  </tr>
</table>
