<div id="cycle-listing" class='admin-page'>
  <h2><%= t('orders_cycle_plugin.views.cycle.index.orders_cycles') %></h2>

  <%= link_to t('orders_cycle_plugin.views.cycle.index.new_cycle'), {:action => :new}, :class => 'cycle-new' %>

  <div id="cycle-open-listing">
    <h3><%= t('orders_cycle_plugin.views.cycle.index.open_cycles') %></h3>

    <% cycles = @cycles.status_open %>
    <% if cycles.blank? %>
      <div class="subtitle"><%= t('orders_cycle_plugin.views.cycle.index.no_cycles_to_show') %></div>
    <% else %>
      <% cycles.each do |cycle| %>
        <div id="cycle-list-item-<%= cycle.id %>" class="cycle-list-item">
          <%= render :partial => 'brief', :locals => {:cycle => cycle, :timeline => true} %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="cycle-closed-listing">
    <h3><%= t('orders_cycle_plugin.views.cycle.index.closed_cycles') %></h3>

    <div class="filter-box">
      <strong><%= t('orders_cycle_plugin.views.cycle.index.filter') %></strong>

      <% form_remote_tag :update => 'cycles-results', :url => {:action => :index}, :html => {}, :method => :get do %>
        <div class="box-field year">
          <div><%=t('orders_cycle_plugin.views.cycle.index.show_cycles_from_year') %></div>
          <div>
            <% range = @profile.orders_cycles_closed_date_range %>
            <%= select_year @year_date, {:start_year => range.first.year, :end_year => range.last.year}, :onchange => "this.form.onsubmit()" %>
          </div>
        </div>

        <div class="box-field month">
          <div><%=t('orders_cycle_plugin.views.cycle.index.and_are_from_the_mont') %></div>
          <div>
            <%= select_month @month_date, {}, :onchange => "this.form.onsubmit()" %>
          </div>
        </div>

        <div class="clean"></div>
      <% end %>
    </div>

    <div id="cycles-results">
      <%= render :partial => 'results' %>
    </div>
  </div>

</div>
