
<h3><%= t('views.network.show_structure.nodes') %></h3>

<div id="network-nodes">
  <% if @node.nodes.empty? %>
    <%= _ t('views.network.show_structure.none') %>
  <% else %>
    <% @node.nodes.each do |node| %>
      <%= render 'networks_plugin_network/node', :node => node %>
    <% end %>
  <% end %>
</div>

<h3><%= t('views.network.show_structure.enterprises') %></h3>
<div id="network-suppliers">
  <% if @node.suppliers.empty? %>
    <%= _ t('views.network.show_structure.none') %>
  <% else %>
    <% @node.suppliers.except_self.each do |supplier| %>
      <%= render 'networks_plugin_network/supplier', :supplier => supplier %>
    <% end %>
  <% end %>
</div>
