<div id="networks-network-show-structure">
  <h1><%= t('views.network.show_structure.title') %></h1>

  <div>
    <% button_bar do %>
      <%= link_to t('views.network.show_structure.add_enterprise'), {:controller => :networks_plugin_enterprise, :action => :associate, :id => @node.id}, :class => 'action-button colorbox' %>
      <%= link_to t('views.network.show_structure.add_node'), {:controller => :networks_plugin_node, :action => :associate, :id => @node.id}, :class => 'action-button colorbox' %>
    <% end %>
  </div>

  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <h2>
    <%= @node.hierarchy.map do |parent|
      link_to parent.name, :node_id => parent.id
    end.join ' -> ' %>
  </h2>

  <div class="listing">
    <%= render 'structure_listing' %>
  </div>
</div>
