<h1><%= t('networks_plugin.views.network.show_structure.title') %></h1>

<div>
  <% button_bar do %>
    <%= link_to t('networks_plugin.views.network.show_structure.add_enterprise'), {:controller => :networks_plugin_network, :action => :enterprise_search}, :class => 'button colorbox' %>
    <%= link_to t('networks_plugin.views.network.show_structure.add_node'), {:controller => :networks_plugin_node, :action => :create}, :class => 'button colorbox' %>
  <% end %>
</div>

<% if flash[:error] %>
  <div class="error"><%= flash[:error] %></div>
<% end %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<table>
  <% @profiles.each do |profiles| %>
    <tr>
      <td>
        <%= profiles.name %>
      </td>
      <td style="text-align: right;">
        <%# FIXME only for nodes, not for enterprises %>
        <%= link_to 'Editar', :controller => :networks_plugin_node, :action => :show, :id => profile.id %>
        |
        <%= link_to 'Remover', :controller => :networks_plugin_node, :action => :destroy, :id => profile.id %>
      </td>
    </tr>
  <% end %>
</table>
