        <% selected = 0; @block_id_name = "ordered_product" + product.id.to_s %>
        <div id=<%= @block_id_name %>>
        <% if not first -%>
          <div class="spacer"></div>
        <% end %>
          <div class="value_row in_order">
            <%
              dProduct = product.session_product.product
              unit = dProduct.product.unit
              unit ||= Unit.first
            %>
            <div class="box_fields"><div class="supplier">
                <%= dProduct.node.profile.name %> 
            </div></div>
            <div class="box_fields"><div class="product">
                <%= dProduct.product.name %>
            </div></div>
            <div class="box_fields">
              <% block_id_name = "product_quantity" + product.id.to_s %>
              <div id=<%= block_id_name %>>
                <%= render :partial => "distribution_plugin_order/quantity", :locals => {:product => product} %>
            </div></div>
            <div class="box_fields"><div class="price_total">
                <% block_id_name = "product_price_total" + product.id.to_s %>
                <div id=<%=block_id_name%>>
                  <%= render :partial => "price_total", :locals => {:product => product}%>
                </div>
            </div></div>
            <div class="cleaner"></div>
            <div class="ordered_product_more_actions">
              <div class="box_fields box_details">
                <%= link_to _('see product details'), {:controller => 'distribution_plugin_order', :profile => profile.identifier, :action => 'details', :id => @order} %>
                &nbsp;&nbsp;
                <%= link_to_remote(_('remove'), :update => @block_id_name,
                                   :url => {:controller => 'distribution_plugin_ordered_product',
                                     :action => "destroy",
                                     :id => product
                }) %>
              </div>
              <div class="box_fields">
                <div class="price"><%= price_span(product.session_product.price) +"/<span class='lower'>#{unit.singular}</span>"%></div>
              </div>
            </div> 
          <div class="cleaner"></div>
          </div>
        </div>
        <div class="cleaner"></div>
