<div class="menu-header"><%= _("Collective consumption network") %></div>

<% style = (@node.image and @node.header_type != 'pure_color') ? "style=\"background: url('" + @node.image.public_filename + "') no-repeat;\" " : ""  %>
<% color = @node.header_bg_color ? "color-"+@node.header_bg_color.to_s : " " %>

<div class="menu-logo <%=  color + '" ' + style %>>
  <% fg_color = (@node.header_fg_color.nil?) ? "" : "color: " + @node.header_fg_color %>
  <div id="menu-title" style="<%= fg_color %>" ><%= @profile.name unless @node.header_type == 'only_image' %></div>
</div>

<div class="menu-button-container">
  <%= display_header_buttons %>
</div>
