<tr class="link-list-row">
  <td>
    <%= icon_selector(link['icon']) %>
  </td>
  <td>
    <%= text_field_tag 'block[links][][name]', link[:name], :class => 'link-name', :maxlength => 20 %>
  </td>
  <td>
    <%= text_field_tag 'block[links][][address]', link[:address], :class => 'link-address' %>
  </td>
  <td>
    <%= select_tag('block[links][][target]', options_for_select(LinkListBlock::TARGET_OPTIONS, link[:target])) %>
  </td>
  <td>
    <%= button_without_text(:delete, _('Delete'), "#" , :class=>"delete-link-list-row") %>
  </td>
</tr>
