<div id='search-content'>
  <div class='total'>
    <%= _('Total of %s results ') % @searches[@asset][:results].total_entries.inspect %>
  </div>

  <%= plugins_search_pre_contents %>

  <% if @asset == :products %>
    <% @show_supplier = true %>
    <%= render 'search_products_content' %>
  <% else %>
    <%= display_results(@searches, @asset) %>
    <% if params[:display] != 'map' %>
      <%= pagination_links @searches[@asset][:results] %>
    <% end %>
  <% end %>

  <%= plugins_search_post_contents %>
</div>
