<%= search_page_title( @titles[@asset], @category ) %>

<%= render :partial => 'search_form', :locals => { :hint => _("Type words about the %s you're looking for") % _(@asset.to_s.singularize) } %>
<%= render :partial => 'results_header' %>

<% if params[:display] != 'map' %>
  <%= content_for :product_page do %>
    <%= stylesheet_link_tag 'catalog' %>
  <% end %>
  <div id="product-catalog">
    <div id="catalog-results">
      <ul id="product-list">
        <%= render 'catalog/products', products: @searches[@asset][:results] %>
      </ul>
    </div>
  </div>
  <%= pagination_links @searches[@asset][:results] %>
<% else %>
  <%= display_results(@searches, @asset) %>
<% end %>

<div style="clear: both"></div>

<% if @asset == :product %>
  <%= javascript_tag do %>
    jQuery('.search-product-price-details').altBeautify();
  <% end %>
<% end %>
