<%
  facets = render 'solr_plugin/search/facets'
%>

<%= content_for :head do %>
  <%= javascript_include_tag "plugins/responsive/javascripts/hammer.min.js" %>
  <%= javascript_include_tag "plugins/responsive/javascripts/jquery.mmenu.min.all.js" %>
  <%= stylesheet_link_tag "plugins/responsive/jquery.mmenu.all.css" %>
<% end %>

<div class="hidden-sm hidden-xs col-lg-3 col-md-4">
  <%= facets %>
</div>

<div id='solr-left-menu' style='display: none'>
  <%= facets %>
</div>

<%= javascript_tag do %>
  jQuery(document).ready(function() {
    jQuery('#solr-left-menu').mmenu({
      classes: 'mm-white',
      dragOpen: { open: true },
    });
  })
<% end %>

