<%= content_for :head do %>
  <%= javascript_include_tag "plugins/responsive/javascripts/hammer.min.js" %>
  <%= javascript_include_tag "plugins/responsive/javascripts/jquery.mmenu.min.all.js" %>
  <%= stylesheet_link_tag "plugins/responsive/stylesheets/jquery.mmenu.all.css" %>
<% end %>

<% unless request.xhr? %>
  <div id='solr-left-menu'>
  </div>
<% end %>
<%= javascript_tag do %>
  $(document).ready(function() {
    if ($('#solr-left-menu.mm-menu').length == 0) {
      $('#solr-left-menu').mmenu({
        classes: 'mm-white',
        dragOpen: {open: true},
      });
    }
    $('#solr-left-menu.mm-menu').html($('#facets-column').html())
  })
<% end %>

<!-- ending: organized as column with the rest of #search-column -->
<div id='facets-column' class="hidden-sm hidden-xs col-lg-3 col-md-4">
  <%= render 'solr_plugin/search/facets' %>
</div>
