<h3>
  <% if @admin_edit %>
    <%= t('views.order._consumer_orders.orders_from_consumer_') % {consumer: @consumer.name} %>
  <% elsif @consumer and @cycle.orders? %>
    <%= t('views.order._consumer_orders.your_orders_on_this_c') %>
    <%= link_to t('views.order._consumer_orders.new_order'), {action: :new, cycle_id: @cycle.id} if user.in? @cycle.profile.members %>
  <% end %>
</h3>

<% if @order and @order.consumer != user and @admin_edit %>
  <div id="order-admin-warning" class="order-message">
    <div class="order-message-text">
      <%= t('views.order._consumer_orders.caution') % {
        consumer: @consumer.name } %>
    </div>
    <div class="order-message-actions">
      <%= link_to t('views.order._consumer_orders.edit_your_orders'), {action: :edit, cycle_id: @cycle.id} %>&emsp;
      <%# link_to t('views.order._consumer_orders.orders_from_another_m'), {action: :reopen, id: @order.id} %>
      <%= link_to t('views.order._consumer_orders.administration_of_thi'), {controller: :orders_cycle_plugin_cycle, action: :edit, id: @cycle.id} %>&emsp;
    </div>
  </div>

  <div id="order-place-new" class="admin">
    <%= link_to t('views.order._consumer_orders.new_order'), {action: :admin_new, consumer_id: @order.consumer.id, cycle_id: @cycle.id} if @cycle.orders? %>
  </div>
<% else %>
  <% if @consumer.nil? %>
    <% message = t('views.order._consumer_orders.to_place_an_order_you') % {
      login: modal_link_to(t('views.order._consumer_orders.login'), login_url, id: 'link_login'),
      signup: link_to(t('views.order._consumer_orders.sign_up'), controller: 'account', action: 'signup'),
    } %>
  <% else %>
    <% if @cycle.orders? %>
      <% if not user.in?(@cycle.profile.members) and @cycle.profile.community? %>
        <%= t('views.order._consumer_orders.associate_to_order') %>
        <%= render 'blocks/profile_info_actions/join_leave_community' %>
      <% elsif @consumer_orders.count == 0 %>
        <% message = t('views.order._consumer_orders.you_haven_t_placed_an') %>
      <% end %>
    <% elsif @cycle.edition? %>
      <% message = t('views.order._consumer_orders.this_cycle_is_not_ope') %>
    <% elsif @cycle.before_orders? %>
      <% message = t 'views.order._consumer_orders.the_time_for_orders_is', start: l(@cycle.start, format: :short), finish: l(@cycle.finish, format: :short) %>
    <% elsif @cycle.after_orders? %>
      <% message = t('views.order._consumer_orders.this_cycle_is_already') %>
    <% end %>
  <% end %>
  <% if message %>
    <div id="order-place-new">
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="clean"></div>

<% @consumer_orders.each do |order| %>
  <% if @order != order and order.current_status == 'cancelled' %>
    <div id="show-cancelled-orders">
      <%= link_to_function t('views.order._consumer_orders.show_cancelled_orders'), "orders_cycle.toggleCancelledOrders()" %>
    </div>
    <div id="hide-cancelled-orders">
      <%= link_to_function t('views.order._consumer_orders.hide_cancelled_orders'), "orders_cycle.toggleCancelledOrders()", style: 'display:none' %>
    </div>
    <% break %>
  <% end %>
<% end %>

<% @consumer_orders.each do |order| %>
  <% next if @order == order %>

  <div id="consumer-order-<%= order.id %>" class="consumer-order unactive <%= order.current_status %>">
    <%= render 'status', order: order %>
    <div class="actions">
      <%= link_to t('views.order._show.open'), {action: :edit, id: order.id} %>
    </div>

    <div class="clean"> </div>
  </div>
<% end %>

<%# prints out the referenced order %>
<% if @order %>
  <div id="consumer-order-<%= @order.id %>" class="consumer-order edit active-order">
    <%= render 'orders_cycle_plugin_order/active_order' %>
  </div>
<% end %>

