<div id="order-page" class="orders page cycle-view">

  <%= render 'orders_cycle_plugin_cycle/view_header', :cycle => @cycle %>

  <%= render 'orders_cycle_plugin_cycle/view_products', :cycle => @cycle, :order => @order %>

  <div id="order-column">
    <%= render 'consumer_orders' %>
  </div>

  <%= javascript_include_tag '/plugins/orders/javascripts/waypoints.min.js' %>
  <%= javascript_tag do %>
    jQuery(document).ready(function() { jQuery('.consumer-order.edit').waypoint(
      function(event, direction) {
        jQuery(this).toggleClass('sticky', direction == 'down'); },
        { offset: function() { return jQuery('#cirandas-top-bar').height(); } });
    });
  <% end %>

  <div class="clean"></div>

