<div class="distribution-plugin-order-block">
  <%= block_title block.title %>

  <% if consumer and node.has_consumer_node?(consumer) %>
    <% open_sessions = node.sessions.open %>
    <% if open_sessions.count > 0 %>
      <% open_sessions.each do |s| %>
        <div id="session-<%=s.id%>" class="session">
          <div class="session-title">
            <%= link_to s.name, {:controller => :distribution_plugin_order, :action => :edit, :session_id => s.id} %>
          </div>

          <div class="session-period">
            <strong><%= t('distribution_plugin.views.blocks.order.orders') %></strong>&emsp;
            <span><%= date_period s.start, s.finish %></span>
          </div>
          <div class="session-period">
            <strong><%= t('distribution_plugin.views.blocks.order.delivery') %></strong>&emsp;
            <span><%= date_period s.delivery_start, s.delivery_finish %></span>
          </div>

        </div>

        <div class="links">
          <%= link_to t('distribution_plugin.views.blocks.order.see_all_cycles'), {:controller => :distribution_plugin_order, :action => :index} %>
          <%# link_to t('distribution_plugin.views.blocks.order.meet_the_producers'), {} %>
          <%# link_to t('distribution_plugin.views.blocks.order.meet_the_products'), {} %>
        </div>
      <% end %>
    <% else %>
      <%= t('distribution_plugin.views.blocks.order.any_cycle_is_open_for') %>
    <% end %>
  <% else %>
    <% if profile.community? %>
      <%= t('distribution_plugin.views.blocks.order.join_this_community_t') %>
    <% else %>
      <%= t('distribution_plugin.views.blocks.order.ask_an_administrator_') %>
    <% end %>
  <% end %>

</div>
