<% wireframe_size = true if wireframe_size.nil? %>

<div id="actions-box" class=" <%= "wireframe-size" if wireframe_size %>">

  <div class="labels">
    <div class="select col-lg-4 col-md-4 col-sm-4">
    </div>

    <span class="with-selection col-lg-4 col-md-4 col-sm-4">
      <%= t('views.actions.with_selection') %>
    </span>

    <div class="clean"> </div>
  </div>

  <div class="buttons">
    <div class="select btn-group col-lg-4 col-md-4 col-sm-4">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <%= t('views.actions.select') %> <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" role="menu">
        <li> <%= link_to_function t('views.actions.all'), 'orders.admin.select.all()' %> </li>
        <li> <%= link_to_function t('views.actions.none'), 'orders.admin.select.none()' %> </li>
      </ul>
    </div>

    <div class="with-selection col-lg-4 col-md-4 col-sm-4">
      <%= render 'with_selection_actions', orders_method: orders_method %>
    </div>

    <div class="other col-lg-4 col-md-4 col-sm-4">
    </div>

    <div class="clean"> </div>
  </div>
</div>
