<% month ||= params[:date][:month] rescue nil %>
<% year ||= params[:date][:year] rescue nil %>

<div class="field state">
  <label><%= t('views.filter.status') %></label>
  <div>
    <%= select_tag :status,
      options_for_select([[t('views.filter.all'), ""]] + OrdersPlugin::Order::StatusText.map{ |id, name| [t(name), id] }, params[:status]) %>
  </div>
</div>

<div class="field code">
  <label><%= t('views.filter.code') %></label>
  <div><%= text_field_tag :code, params[:code] %></div>
</div>

<div class="field <%= actor_name %>">
  <label><%= t("terms.#{actor_name}.singular", :transformation => :capitalize) %></label>
  <div>
    <%= select_tag "#{actor_name}_id",
      options_for_select([[t('views.filter.all'), ""]] + actors.map{ |a| [a.name, a.id] }, params["#{actor_name}_id"]) %>
  </div>
</div>

<% if orders_context == :profile %>
  <div class="field month">
    <label><%= t('views.filter.month') %></label>
    <div>
      <%= select_month month || Date.today %>
    </div>
  </div>

  <div class="field year">
    <label><%= t('views.filter.year') %></label>
    <div>
      <%= select_year year || Date.today %>
    </div>
  </div>
<% end %>

