<%
  if @page.parent && @page.parent.has_posts? && @page.parent.feed
    add_rss_feed_to_head(@page.parent.name, @page.parent.feed.url)
  end
%>

<div id="article" class="<%= @page.css_class_name %>">

<%= render :partial => 'confirm_unfollow' %>

<script type="text/javascript">
    window.ONE_COMMENT = "<%= _('One comment') %>";
    window.COMMENT_PLURAL = "<%= _('comments') %>";
    window.NO_COMMENT_YET = "<%= _('No comments yet') %>";
</script>

<% if @page.parent && !@page.parent.path.blank? %>
  <div id="article-parent">
    <%= button(:back, _('Go back to %s') % @page.parent.title, @page.parent.url) %>
  </div>
<% end %>

<div id="article-toolbar">
  <%= render :partial => 'article_toolbar' %>
</div>

<% if NOOSFERO_CONF['addthis_enabled'] and @page.public? %>
  <%= render :partial => 'addthis' %>
<% end %>

<% cache_if @page.cacheable?, @page.cache_key(params, user, language) do %>
  <div class="<%="article-body article-body-" + @page.css_class_name %>">
    <% options = @page.image? ? {:gallery_view => true} : {} %>
    <% if @page.image.present? && !@page.event? && !@page.blog? %>
      <div class="article-body-img">
        <%= image_tag(@page.image.public_filename) %>
        <p><%= @page.image.label%></p>
      </div>
    <% end %>
    <%= article_to_html(@page, options) %>
    <br style="clear:both" />
  </div> <!-- end class="article-body" -->
<% end %>

<% if ! @page.categories.empty? %>
<div id="article-cat">
  <h4><%= _('Categories') %></h4>
    <%= @page.categories.map {|item| link_to_category(item, false) }.join(", ") %>
</div>
<% end %>

<% if !@page.tags.empty? %>
  <div id="article-tags">
    <%= _("This article's tags:") %>
    <%= @page.tags.map { |t| link_to(t, :controller => 'profile', :profile => @profile.identifier, :action => 'tags', :id => t.name ) }.join("\n") %>
  </div>
<% end %>

<%= display_source_info(@page) %>

<%= @plugins.dispatch(:article_extra_contents, @page).collect { |content| instance_exec(&content) }.join("") %>

<%= render 'comments_list' if @page.accept_comments? or @comments_count > 0 %>

</div><!-- end id="article" -->
<%= add_zoom_to_article_images %>
