<p>
  <%= _('Create IDs and secrets for applications and networks that are going to use your OAuth Provider.') %>
</p>

<div id="app-new">
  <h2> <%= _('New app') %> </h2>
  <%= render 'oauth_plugin_admin_apps/form', :app => @app || environment.oauth_apps.build %>
</div>

<div>
  <h2> <%= _('Current apps') %> </h2>
  <%= render 'oauth_plugin_admin_apps/list' %>
</div>

