<% profile = product.enterprise %>

<div class="escambo-snippet product-snippet">
  <div class="first-column">
    <div class="label">
      <%= _('Offer') %>
    </div>
  </div>

  <div class="second-column">
    <%= _('%{profile} offers %{product}') % {
      :profile => link_to(profile.name, profile.url),
      :product => link_to(product.name, product.url),
      } %>

    <div class="description">
      <%= product.description %>
    </div>

    <%= render :partial => 'snippets/local', :locals => {:profile => profile} %>
  </div>

  <div class="third-column">
  </div>

  <%= render :partial => 'snippets/start_exchange', :locals => {:profile => profile} %>

  <div class="clean"></div>
</div>

