<% profile = interest.profile %>

<div class="escambo-snippet sniffer-plugin-interest-snippet">
  <div class="first-column">
    <div class="label">
      <%= _('Interest') %>
    </div>
  </div>

  <div class="second-column">
    <%= _('%{profile} is interested in %{interest}') % {
      :profile => link_to(profile.name, profile.url),
      :interest => link_to((eval(interest.opportunity_type).find interest.opportunity_id).name, 
       {:controller => :search, :query => interest})
      } %>

    <%= render :partial => 'snippets/local', :locals => {:profile => profile} %>
  </div>

  <div class="third-column">
    <% if profile != @active_organization %>
      <%= #render :partial => 'exchange_plugin_shared/start_exchange', :locals => {:profile => profile} 
%>
    <% else %>
      <%= link_to _("Edit"), {:controller => :sniffer_plugin_myprofile, :action => :edit, :profile => profile.identifier}, :class => 'exchange' %> 
    <% end %>
  </div>
 
  <div class="clean"></div>
</div>
