<span id="fb_store_admin_page"></span>

<script type="text/javascript">
  window.empreendimentos = [];
  window.signed_request = <%= @signed_request.to_json.html_safe %>;


  <% if @profiles.present? %>
      <% @profiles.each do |profile| %>

      empreendimentos.push({
        name: <%= profile.name.to_json.html_safe %>,
        id: <%= profile.id.to_json.html_safe %>,
        identifier: <%= profile.identifier.to_json.html_safe %>
      });

      <% end %>
  <% end %>



</script>

<form>

  <h2>Vitrine de produtos do Cirandas no Facebook</h2>
  <p>A vitrine de produtos pode ser definida por uma palavra-chave ou por uma lista de empreendimentos.</p>
  <p>Escolha o modo de integração:</p>
  <h3><input type="radio" name="fb_integration_type" value="query">Palavra-chave</h3>
  <div id="fb_integration_type_query">
    <input type="text" name="fb_keyword" value="<%= @query %>">
  </div>
  <h3><input type="radio" name="fb_integration_type" value="profiles">Empreendimento ou lista de empreedimentos</h3>
  <div id="fb_integration_type_profiles">
    <table>
      <tbody id="fb_tabela_empreendimentos"></tbody>
    </table>
    <div>
      Adicionar novo empreendimento: <input type="text" name="fb_store" style="width:350px; margin-right:40px;"/> <button id="fb_store_add_profile">Adicionar</button>
    </div>
  </div>

  <br/>

  <button id="fb_commit_btn">Enviar</button>


</form>
