<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <p>
      <%= t('orders_cycle_plugin.views.mailer.order_change_notification.hi_name') % {:name => @order.consumer.name} %>
      <%= t('orders_cycle_plugin.views.mailer.order_change_notification.your_order_id_was_cha') % {:id => @order.id, :supplier => link_to(profile.name, profile.url)} %>
    </p>

    <% if @message %>
      <p>
        <%= t('orders_cycle_plugin.views.mailer.order_change_notification.the_administrator_lef') %>
        <i><%= @message %></i>
      </p>
    <% end %>

    <div>
      <% if @removed.count > 0 %>
      <p><%=t('orders_cycle_plugin.views.mailer.order_change_notification.the_following_product')%></p>
      <ul>
        <% @removed.each do |p| %>
          <li><%= p.product.name %></li>
        <% end %>
      <ul>
      <% end %>
    </div>

    <div>
      <% if @changed.count > 0 %>
      <p><%=t('orders_cycle_plugin.views.mailer.order_change_notification.the_following_product')%></p>
      <ul>
        <% @changed.each do |p| %>
          <li><%= t('orders_cycle_plugin.views.mailer.order_change_notification.name_from_quantity_wa') % {
            :name => p.product.name,
            :quantity_was => CurrencyHelper.number_as_currency_number(p.quantity_asked_was),
            :quantity => p.quantity_asked_as_currency_number} %></li>
        <% end %>
      <ul>
      <% end %>
    </div>

    <p>
      --<br/>
      <%= t('orders_cycle_plugin.views.mailer.order_change_notification.thanks_for_buying_wit') %><br/>
      <%= link_to profile.name, profile.url %>
    </p>

    <small style="color: #888"><%= t('orders_cycle_plugin.views.mailer.order_change_notification.a_service_of_s') % @environment.name %></small>
  </body>
</html>
