<% type = element.object_type.gsub('::', '').underscore %>

<li id="exchange-<%=type%>-element-<%= element.object_id %>" class="exchange-element <%= actor %>">

  <% if element.object_type == "Product" %>
    <div class="exchange-element-image" style="background-image: url('<%= element.object.image.public_filename if element.object.image %>');">
    </div>
  <% end %>

  <div class="exchange-element-control">

    <% if element.proposal.open? %>

      <div id="exchange-quantity" class="exchange-qty">
        <div class="label"><%= _('Qty') %></div>
        <%= text_field_tag "quantity", element.quantity, :class => "exchange-qty-input",
          :onblur => "jQuery.post('#{url_for :controller => :exchange_plugin_element, :action => :edit, :id => element.id}', {element: {quantity: jQuery(this).val()}});" %>
      </div>

      <div class="exchange-trash">

        <% if element.object_type == "Product" or element.object_type == "CmsLearningPlugin::Learning" %>
          <%= link_to_remote '<img src="/plugins/exchange/images/trash.png"/>', :url => {:action => :remove_element, :id => element.id, :object_type => element.object_type, :object_id => element.object_id, :actor => actor, :exchange_id => element.proposal.exchange_id, :proposal_id => element.proposal_id} %>
        <% else %>
          <%= link_to_remote '<img src="/plugins/exchange/images/trash.png"/>', :url => {:action => :remove_element_currency, :id => element.id, :object_type => element.object_type, :object_id => element.object_id, :actor => actor, :exchange_id => element.proposal.exchange_id, :proposal_id => element.proposal_id} %>
        <% end %>
      </div>


    <% else %>
      <% if !element.quantity.blank? %>
        <div class="exchange-qty readonly">
          <div class="label"><%= _('Qty') %></div>
          <div class="value"><%= element.quantity %></div>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if element.object_type == "Product" %>
    <div class="title"><%= link_to element.object.name, element.object.url, :target => '_blank' %></div>
    <div class="desc"><%= element.object.description %></div>

    <% if element.proposal.open? %>
      <div class='comment'>
        <%= label_tag :comment, _('Comment (optional)') %>
        <%= text_area_tag :comment, element.comment,
          :onblur => "jQuery.post('#{url_for :controller => :exchange_plugin_element, :action => :edit, :id => element.id}', {element: {comment: jQuery(this).val()}});" %>
      </div>
    <% end %>

  <% elsif element.object_type == "CmsLearningPlugin::Learning" %>
    <div class="title"><%= link_to element.object.name, element.object.url, :target => 'blank' %></div>
    <div class="desc"><%= element.object.summary %></div>

  <% elsif element.object_type == "CurrencyPlugin::Currency" %>
    <div class="title"><%= element.object.name_with_symbol %></div>

  <% elsif element.object_type == "ExchangePlugin::UnregisteredItem" %>
    <div class="title"><%= element.object.name %></div>
    <div class="desc"><%= element.object.description %></div>
  <% end %>
</li>
