<% e = eval(element.element_type).find element.element_id %>

<li id="exchange_<%= element.element_type %>_element_<%= element.element_id %>" class="exc-plg-element exc-plg-element-<%= enterprise %>">

<% if element.element_type == "Product" %>
  <div class="exc-plg-element-image" style="background-image: url('<%= e.image.public_filename %>');">
  </div>
<% end %>
    <div class="exc-plg-element_control">

      <% if element.proposal.state == "open" %>
        <h6 class="exc-plg-qtd"><%= _('Qtd') %></h6>

        <%= text_field_tag "origin_quantity[" + element.element_id.to_s + "]", element.quantity, :class => "exc-plg-qtd-input",
        :onBlur => "jQuery.post('#{url_for :action => 'update_quantity', :element_id => element.id}', {quantity: jQuery(this).val()});"%>

        <div class="exc-plg-trash">
        <%= link_to_remote '<img src="/designs/themes/escambo/images/lixeira.png"/>', :url => {:action => :remove_element, :id => element.id,
        :element_type => element.element_type, :element_id => element.element_id,
          :enterprise => enterprise, :exchange_id => element.proposal.exchange_id, :proposal_id => element.proposal_id} %>
        </div>
      
      <% else %>
        <h6 class="exc-plg-qtd"><%= _('Qtd: %s') % element.quantity %></h6>
      <% end %>
    </div> <!-- element_control -->

<% if element.element_type == "Product" %>
  <h6 class="exc-plg-element_title"><%= link_to(e.category_name) + " " + link_to(e.name) %></h6>
  <p class="exc-plg-element_desc"><%= e.description %></p>
<% else %>
  <h6 class="exc-plg-element_title"><%= e.name %></h6>
  <p class="exc-plg-element_desc"><%= e.summary %></p>
<% end %>
</li>