<% products = profile.products - proposal.products %>
<% type = Product.to_s.underscore %>

<% if products.blank? %>
  <%= _("%s has no offers registered.") % profile.name %>
  <ul id="exchange-<%=type%>-<%=actor%>-list" class="exchange-<%=actor%>-offers proposal-offers">
  </ul> <!-- necessary to receive removed items -->
<% else %>
  <h4><%= _('Products and Services') %></h4>

  <ul id="exchange-<%=type%>-<%=actor%>-list" class="exchange-<%=actor%>-offers proposal-offers">
    <% products.each do |p| %>
      <li id=exchange-<%=type%>-<%= p.id %>>
        <h6 class="element-title">
          <%= p.name %>
        </h6>

        <%= link_to_remote "<button class='action-button exchange-add'>+</button>",
          :url => {:action => "add_element", :proposal_id => proposal.id,
                   :element_id => p.id, :element_type => "Product",
                   :enterprise_id => profile.id, :enterprise => actor} %>
      </li>
    <% end %>
  </ul>
<% end %>
