<% products = profile.products - proposal.products %>

<h4><%= _('Products and Services') %></h4>

<% if products.blank? %>
  <%= _("%s has no offers registered.") % profile.name %>
<% else %>

  <ul class="exchange-<%=actor%>-offers proposal-offers">
    <% products.each do |p| %>
      <li>
        <h6 class="element-title">
          <%= p.name %>
        </h6>

        <%= link_to_remote "<button class='action-button exchange-add'>+</button>",
          :url => {:controller => :exchange_plugin_element, :action => :create, :actor => actor,
                   :element => {:proposal_id => proposal.id,
                   :object_id => p.id, :object_type => "Product", :profile_id => profile.id}} %>
      </li>
    <% end %>
  </ul>
<% end %>
