<% knowledges = profile.knowledges - proposal.knowledges %>
<% type = CmsLearningPlugin::Learning.to_s.gsub('::', '').underscore %>

<% if knowledges.blank? %>
  <%= _("%s has no knowledges registered.") % profile.name %>

  <%# necessary to receive removed items %>
  <ul id="exchange-<%=type%>-<%=actor%>-list" class="proposal-offers <%=actor%>">
  </ul>
<% else %>
  <h4><%= _('Knowledges') %></h4>

  <ul id="exchange-<%=type%>-<%=actor%>-list" class="proposal-offers <%=actor%>">
    <% knowledges.each do |k| %>
      <li id=exchange-<%=type%>-<%= k.id %>>
        <%= render :partial => "element_list", :locals => {:element_type => "CmsLearningPlugin::Learning", :proposal_id => proposal.id, :enterprise => actor, :element => k, :enterprise_id => profile.id} %>
      </li>
    <% end %>
  </ul>
<% end %>
