<div id="exchange-add-unreg-item-<%=actor%>" class="action-button exchange-add-unreg-item">

  <span onClick='exchange.add_unregistered_item_show_form("<%=actor%>")'><%= _('Add not registered product') %></span>
  <p style="float:right" onClick='exchange.add_unregistered_item_hide_form("<%=actor%>")'>[x]</p>

  <% form_remote_tag :url => {:action => 'add_unregistered_item', :proposal_id => proposal.id, :element_type => "ExchangePlugin::UnregisteredItem", :enterprise_id => @profile.id, :enterprise => actor} do  %>
    <%= label_tag 'name', _('Name') %>
    <%= text_field_tag 'name' %>

    <%= label_tag 'description', _('Description') %>
    <%= text_area_tag 'description' %>

    <%= submit_tag _('Add'), :onClick => "exchange.add_unregistered_item_hide_form('#{actor}')" %>
  <% end %>
</div>

