<% first = true %>
<% @proposals.each do |proposal| %>
    <% if !(proposal.state == "open" && proposal.enterprise_origin != profile) %>
      
    <% if proposal.state != "open" %>
      <p class="exc-plg-proposal_sent"><%= _('Proposal sent ') + proposal.date_sent.strftime("%d/%m/%Y @ %H:%Mh") %></p>
    <% end %>
    <div id="exc-plg-proposal_wrapper">
      <div id="exc-plg-proposal_header">
        <%= render :partial => "proposal_header", :locals => {:proposal => proposal}%>
      </div>
      <% if first %>
        <%= render :partial => "proposal_buttons", :locals => {:proposal => proposal}%>
      <% end %>
    <div id="exc-plg-proposal_messages">

      <div id="exchange_messages">
        <h2><%= _('Messages')%></h2>

        <% if first %>
          <div id='leave_scrap' style="float:none; height:70px;">
              <% form_remote_tag :url => {:action => 'new_message', :proposal_id => proposal.id} do  %>
                <%= text_area_tag 'body',nil, :rows => 2, :cols => 30, :placeholder => _('Digite sua mensagem') %>
                <%= submit_tag 'Enviar mensagem' %>
              <% end %>
          </div>
          <% first = false %>    
        <% end %>

        <div id="messages">
        <table id="exc-plg-messages">
        <% if !proposal.messages.blank? %>
        <% proposal.messages.each do |m| %> 
          <tr>
            <td><% if m.enterprise_sender.id == profile.id%><%= link_to profile_image(profile, :thumb) +"\n", profile.url %><% end %></td>
            <td>
          <% if m.enterprise_sender.id == profile.id%>
            <div class="exchange_my_message">
          <% else %>
            <div class="exchange_other_message">
          <% end %>
          <% divclass = (m.enterprise_sender.id == profile.id) ? "comment-ballon" : "comment-ballon-inverted" %><div class="<%= divclass%>">
          <div class="comment-wrapper-1">
          <div class="comment-wrapper-2">
          <% divclass = (m.enterprise_sender.id == profile.id) ? "comment-wrapper-3" : "comment-wrapper-3-inverted" %><div class="<%= divclass%>">
          <div class="comment-wrapper-4">
          <% divclass = (m.enterprise_sender.id == profile.id) ? "comment-wrapper-5" : "comment-wrapper-5-inverted" %><div class="<%= divclass%>">
          <div class="comment-wrapper-6">
            <% divclass = (m.enterprise_sender.id == profile.id) ? "comment-wrapper-7" : "comment-wrapper-7-inverted" %><div class="<%= divclass%>">
            <% divclass = (m.enterprise_sender.id == profile.id) ? "comment-wrapper-8" : "comment-wrapper-8-inverted" %><div class="<%= divclass%>">
          <div  class="comment-balloon-content">
            <table>
              <tr><td class="exchange_label"> <%=_('From:') %></td><td><%= m.enterprise_sender.name + " - " + m.person_sender.name %></td></tr>
              <tr><td class="exchange_label"> <%=_('To:') %></td><td><%= m.enterprise_recipient.name %></td></tr>
              <tr><td class="exchange_label"><%=_('Date sent:') %></td><td><%= m.created_at.strftime("%d de %B de %Y, às %H:%M") %></td></tr>
              <tr><td colspan="2"><%= m.body %></td></tr>
            </table>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          <br />
        </td>
        <td><% if m.enterprise_sender.id != profile.id %><%= link_to profile_image(proposal.the_other(profile), :thumb) +"\n", profile.url %><% end %></td>
        </tr>
      <% end %>
      <% end %>
      </table>
      </div>
      </div>



    </div>
    <div id="exc-plg-proposal_offer_request_wrapper">
      <div id="exc-plg-proposal_offer">
        <h2><%= _('Oferta') %></h2>
        <ul id="exc-plg-origin_elements_list">
          <% @elements_origin = proposal.exchange_elements.select{|k| k.enterprise_id == @origin.id} %>
          <% if !@elements_origin.blank? %>
            <% @elements_origin.each do |e| %>              
              <li id="exchange_<%= e.element_type %>_element_<%= e.element_id %>">
                <%= (eval(e.element_type).find e.element_id).name %>

                <% if proposal.state == "open" %>
                  <%= link_to_remote _('[remove]'), :url => {:action => :remove_element, :id => e.id,
                  :element_type => e.element_type, :element_id => e.element_id,
                    :enterprise => "origin", :exchange_id => proposal.exchange_id, :proposal_id => e.proposal_id} %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>

        <% if proposal.state == "open" %>

          <h2><%= _('What you can offer?') %></h2>
          <div id="exc-plg-button-wrapper">
            <button class="exc-plg-exchange_plugin_button"><%= _('Add not registered product')%></button>
            <button class="exc-plg-exchange_plugin_button"><%= _('Add amount in money')%></button>
          </div>

          <% if @origin_products.blank? && @origin_knowledges.blank? %>
            <%= _("%s has no offers registered.") % profile.name %>
          <% else %>
            
            <% if !@origin_products.blank? %>
              <h4><%= _('Your Products') %></h4>
              <ul id="exc-plg-Product_origin_list" class="exc-plg-origin_offers">
              <% @origin_products.each do |p| %>
                <li id=exchange_Product_<%= p.id %>>
                    <%= link_to(p.category_name) + " " + link_to(p.name) %>
                    
                    <%= link_to_remote "<button class='exc-plg-exchange_plugin_button exc-plg-add'>+</button>", 
                    :url => {:action => "add_element", :element_id => p.id,  
                    :element_type => "Product", :enterprise => "origin", :exchange_id => @exchange.id,
                    :proposal_id => proposal.id} %>

                </li>
              <% end %>
              </ul>
            <% end %>
            <% if !@origin_knowledges.blank? %>
              <h4><%= _('Your Knowledges') %></h4>
              <ul id="exc-plg-CmsLearningPluginLearning_origin_list" class="exc-plg-origin_offers">
              <% @origin_knowledges.each do |k| %>
                <li id="exchange_CmsLearningPluginLearning_<%= k.id %>">
                    <%= link_to(k.name) %>

                    <%= link_to_remote "<button class='exc-plg-exchange_plugin_button exc-plg-add'>+</button>", 
                    :url => {:action => "add_element", :element_id => k.id,  
                    :enterprise_id => @origin.id, :element_type => "CmsLearningPluginLearning", :exchange_id => @exchange.id, :proposal_id => proposal.id, :enterprise => "origin"} %>
                </li>
              <% end %>
              </ul>
            <% end %>
          <% end %>
      <% end %> <!-- if proposal.state == "open" -->

      </div>
      <div id="exc-plg-proposal_request">
        <h2>Pedido</h2>
        <ul id="exc-plg-target_elements_list">
          <% @elements_target = proposal.exchange_elements.select{|k| k.enterprise_id == @target.id} %>
          <% if !@elements_target.blank? %>
            <% @elements_target.each do |e| %>              
              <li id="exchange_<%= e.element_type %>_element_<%= e.element_id %>">
                <%= (eval(e.element_type).find e.element_id).name %>
                <% if proposal.state == "open" %>
                
                <%= link_to_remote _('[remove]'), :url => {:action => :remove_element, :id => e.id,
                :element_type => e.element_type, :element_id => e.element_id,
                  :enterprise => "target", :exchange_id => proposal.exchange_id, :proposal_id => e.proposal_id} %>
                <% end %>
              </li>
            <% end %>
          <% end %>          
        </ul>
        
      <% if proposal.state == "open" %>

        <h2><%= _('What do the other can offer?') %></h2>
        <div id="exc-plg-button-wrapper">
          <button class="exc-plg-exchange_plugin_button"><%= _('Add not registered product')%></button>
          <button class="exc-plg-exchange_plugin_button"><%= _('Add amount in money')%></button>
        </div>


        <% if @target_products.blank? && @target_knowledges.blank? %>
          <%= _("%s has no offers registered.") % profile.name %>
        <% else %>
          <% if !@target_products.blank? %>
            <h4><%= _('Products') %></h4>
            <ul id="exc-plg-Product_target_list" class="exc-plg-target_offers">
            <% @target_products.each do |p| %>
              <li id=exchange_Product_<%= p.id %>>

                  <%= link_to(p.category_name) + " " + link_to(p.name) %>
                  
                  <%= link_to_remote "<button class='exc-plg-exchange_plugin_button exc-plg-add'>+</button>", 
                  :url => {:action => "add_element", :element_id => p.id,  
                  :element_type => "Product", :enterprise => "target", :exchange_id => @exchange.id,
                  :proposal_id => proposal.id} %>

              </li>
            <% end %>
            </ul>
          <% end %>
          <% if !@target_knowledges.blank? %>
            <h4><%= _('Knowledges') %></h4>
            <ul id="exc-plg-CmsLearningPluginLearning_target_list" class="exc-plg-target_offers">
            <% @target_knowledges.each do |k| %>
              <li id=exchange_CmsLearningPluginLearning_<%= k.id %>>

                  <%= link_to(k.name) %>

                  <%= link_to_remote "<button class='exc-plg-exchange_plugin_button exc-plg-add'>+</button>", 
                  :url => {:action => "add_element", :element_id => k.id,  
                  :enterprise_id => @target.id, :element_type => "CmsLearningPluginLearning", :exchange_id => @exchange.id, :proposal_id => proposal.id, :enterprise => "target"} %>

              </li>
            <% end %>
            </ul>
          <% end %>
        <% end %>
      <% end %> <!-- if proposal.state == "open" -->
      </div>
    </div> <!-- proposal_offer_request_wrapper -->
  </div> <!-- proposal_wrapper -->
  <% end %> <!-- if open and not profile -->
  <% end %> <!-- proposal.each -->