<% products = profile.products - proposal.products %>

<% if products.blank? %>
  <%= _("%s has no offers registered.") % profile.name %>
  <ul id="exchange-Product_<%=actor%>_list" class="exchange-<%=actor%>_offers">
  </ul> <!-- necessary to receive removed items -->
<% else %>
  <ul id="exchange-Product_<%=actor%>_list" class="exchange-<%=actor%>_offers">
    <h4><%= _('Products and Services') %></h4>
    <% products.each do |p| %>
      <li id=exchange_Product_<%= p.id %>>

        <%= render :partial => "element_list", :locals => {:element_type => "Product", :proposal_id => proposal.id, :enterprise => actor, :element => p, :enterprise_id => profile.id} %>

      </li>
    <% end %>
  </ul>
<% end %>
