<% 
    #css classes for the states
    if exchange.state == "proposal"
      @state1class = "exc-plg-active"
      @state2class = "exc-plg-future"
      @state3class = "exc-plg-future"
      @state4class = "exc-plg-future"
    elsif exchange.state == "negociation"
      @state1class = "exc-plg-past"
      @state2class = "exc-plg-active"
      @state3class = "exc-plg-future"
      @state4class = "exc-plg-future"
    elsif exchange.state == "evaluation"
      @state1class = "exc-plg-past"
      @state2class = "exc-plg-past"
      @state3class = "exc-plg-active"
      @state4class = "exc-plg-future"
    elsif exchange.state == "concluded"
      @state1class = "exc-plg-past"
      @state2class = "exc-plg-past"
      @state3class = "exc-plg-past"
      @state4class = "exc-plg-active"
    end
%>


    <div id="exc-plg-states">
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state <%= @state1class %> ">
          <p class="exc-plg-state_number">1</p>
          <p class="exc-plg-state_name"><%= _('Proposal') %></p>
        </div>
      </div>
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state <%= @state2class %> ">
          <p class="exc-plg-state_number">2</p>
          <p class="exc-plg-state_name"><%= _('Negociation') %></p>
        </div>
      </div>
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state <%= @state3class %> ">
          <p class="exc-plg-state_number">3</p>
          <p class="exc-plg-state_name"><%= _('Evaluation') %></p> 
        </div>
      </div>
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state <%= @state4class %> ">
          <p class="exc-plg-state_number">4</p>
          <p class="exc-plg-state_name"><%= _('Finished') %></p>
        </div>
      </div>
    </div> <!-- states -->