<h2><%= _('Evaluate Exchange') %></h2>

<div id="exchange_summary">
  <h2><%= _('Exchange Summary')%></h2>
  <table>
    <!--<tr><td class="exchange_label"><%= _("Slug: ") %></td><td><%= @exchange.slug %></td></tr>-->
    <tr><td class="exchange_label"><%= _("Exchange with: ") %></td><td><%= @exchange.the_other(profile).name %></td></tr>
    <tr>
      <td class="exchange_label"><%= _("I offer:") %></td>
      <td>
        <% @exchange.my_elements(profile).each do |x| %>
          <%= "#{x.element.name} (#{x.quantity}) "%>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="exchange_label"><%= _("%{other} offers me:") % {:other => @exchange.the_other(profile).name} %></td>
      <td>  
        <% @exchange.other_elements(profile).each do |x| %>
          <%= "#{x.element.name} (#{x.quantity}) "%>
        <% end %>
      </td>
    </tr>
  </table>
</div>


<div id="evaluation">
  <% form_for :evaluation, :url => {:controller => 'exchange_plugin_myprofile', :action => 'evaluate', :exchange_id => @exchange.id} do |f| %>
    <h2><%= _('Please evaluate the behaviour of %s during the exchange process:') % @enterprise_other.name %></h2>
    <table style="width:auto">
      <tr><td><%= _("1 (Very bad)") %></td><td><%= radio_button_tag "score", 1 %></td></tr>
      <tr><td><%= _("2 (Less than expected)") %></td><td><%= radio_button_tag "score", 1 %></td></tr>
      <tr><td><%= _("3 (Regular)") %></td><td><%= radio_button_tag "score", 1 %></td></tr>
      <tr><td><%= _("4 (Better than expected)") %></td><td><%= radio_button_tag "score", 1 %></td></tr>
      <tr><td><%= _("5 (Excellent)") %></td><td><%= radio_button_tag "score", 1 %></td></tr>
    </table>
      <div id='leave_scrap' style="float:none; height:70px;">
        <%= text_area_tag 'text',nil, :rows => 2, :cols => 30, :placeholder => _('Write your evaluation message here...') %>
        <%= f.submit _('Submit')%>
      </div>
  <% end %>
</div>
