<div id="exc-plg-exchange_wrapper">
  <div id="exc-plg-title_wrapper">
    <h1> <%= _('Exchange Negociation') %> </h1>
  </div>
  <div id="exc-plg-states_wrapper">
    <div id="exc-plg-states">
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state <%= @state1class %> ">
          <p class="exc-plg-state_number">1</p>
          <p class="exc-plg-state_name"><%= _('Proposal') %></p>
        </div>
      </div>
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state <%= @state2class %> ">
          <p class="exc-plg-state_number">2</p>
          <p class="exc-plg-state_name"><%= _('Negociation') %></p>
        </div>
      </div>
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state <%= @state3class %> ">
          <p class="exc-plg-state_number">3</p>
          <p class="exc-plg-state_name"><%= _('Evaluation') %></p> 
        </div>
      </div>
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state <%= @state4class %> ">
          <p class="exc-plg-state_number">4</p>
          <p class="exc-plg-state_name"><%= _('Finished') %></p>
        </div>
      </div>
    </div> <!-- states -->
    <div id="exc-plg-enterprise_headers">
      <div id="exc-plg-enterprise_origin">
        <div id="exc-plg-origin_thumb" style="background: black;">
          <%= link_to profile_image(@origin, :thumb, :style => "width: 65px;") +"\n", @origin.url %>
        </div>
        <p class="menu_g_selecionado"><%= @origin.name %></p>
      </div>
      <div id="exc-plg-enterprise_target">
        <div id="exc-plg-target_thumb" style="background: black;">
          <%= link_to profile_image(@target, :thumb, :style => "width: 65px;") +"\n", @target.url %>
        </div>
        <p class="menu_g_selecionado"><%= @target.name %></p>
      </div>
    </div> <!-- enterprise_headers -->
  </div> <!-- states wrapper -->

  <% if @proposal.state == "accepted" %>
    <div id="exc-plg-accepted_header">
      <%= _('Exchange arranged between <strong>' + @origin.name + '</strong> & <strong>' + @target.name + '</strong>') %>
    </div>
    <%= render :partial => "evaluation" %>
    <%= render :partial => "exchange_summary", :locals => {:proposal => @proposal} %>
    <hr />
    <%= _('Negociation history') %>
  <% end %>

  <%= render :partial => "proposals", :object => @proposals %>


</div> <!-- exchange_wrapper -->