<div id="exchange-exchange-wrapper">

  <h1> <%= _('Exchange Negociation') %> </h1>

  <%= render :partial => 'exchange_header' %>

  <% if @current_proposal.state == "accepted" %>

    <% if @exchange.state == "concluded" %>
      <p id="concluded-message">
        <%= _('Concluded at %s') % @exchange.concluded_at.strftime(_("%m/%d/%Y at %H:%Mh")) %>
      </p>
    <% end %>

    <div id="exchange-accepted-header">
      <%= _('exchange arranged between %{origin} & %{target}') % {
        :origin => content_tag('strong', @origin.name),
        :target => content_tag('strong', @target.name),
      } %>
    </div>

    <%= render :partial => "evaluation", :object => @exchange %>

    <%= render :partial => "exchange_summary", :locals => {:proposal => @current_proposal} %>

    <h2>
      <%= _('Negociation history') %>
    </h2>

  <% end %>

  <%= render :partial => "proposals", :object => @proposals %>

</div>
