<div id="exc-plg-exchange_wrapper">
  <div id="exc-plg-title_wrapper">
    <h1> <%= _('Exchange Negociation') %> </h1>
  </div>
  <div id="exc-plg-states_wrapper">
    <%= render :partial => "states", :locals => {:exchange => @exchange}%>

    <div id="exc-plg-enterprise_headers">
      <div id="exc-plg-enterprise_profile">
        <div id="exc-plg-profile_thumb" style="background: black;">
          <%= link_to profile_image(profile, :thumb, :style => "width: 65px;") +"\n", profile.url %>
        </div>
        <p class="menu_g_selecionado exc-plg-profile-name"><%= profile.name %></p>
      </div>
      <div id="exc-plg-enterprise_theother">
        <div id="exc-plg-theother_thumb" style="background: black;">
          <%= link_to profile_image(@theother, :thumb, :style => "width: 65px;") +"\n", @theother.url %>
        </div>
        <p class="menu_g_selecionado exc-plg-theother-name"><%= @theother.name %></p>
      </div>
      <div id="exc-plg-exchange_symbol"></div>
    </div> <!-- enterprise_headers -->
  </div> <!-- states wrapper -->

  <% if @proposal.state == "accepted" %>
    <% if @exchange.state == "concluded" %>
      <div style="overflow:hidden"><p style="float:right"><%= _('Concluded at %s') % @exchange.concluded_at.strftime("%d/%m/%Y @ %H:%Mh") %></p></div>
    <% end %>
    <div id="exc-plg-accepted_header">
      <h3 style="color:white"><%= _('Exchange arranged between <strong> %{origin} </strong> & <strong> %{target} </strong>') % {:origin => @origin.name, :target => @target.name}%></h3>
    </div>
    <%= render :partial => "evaluation", :object => @exchange %>
    <hr />
    <%= render :partial => "exchange_summary", :locals => {:proposal => @proposal} %>
    <hr />
    <%= _('Negociation history') %>
  <% end %>
  <%= render :partial => "proposals", :object => @proposals %>

</div> <!-- exchange_wrapper -->