<% if not profile.network? %>
  <%= render :file => "#{Rails.root}/app/views/profile_editor/index.rhtml" %>
<% else %>
  <div id="profile-editor-index">

    <h1 class="block-title">
      <span class='control-panel-title'><%= h profile.short_name %></span>
      <span class='control-panel-sep'>&#150;</span>
      <span class='control-panel-subtitle'><%= _('Control Panel') %></span>
    </h1>

    <%= render :partial => 'pending_tasks' %>

    <% control_panel do %>

      <%= control_panel_button profile.control_panel_settings_button[:title],
        profile.control_panel_settings_button[:icon],
        :controller => 'profile_editor', :action => 'edit' %>

      <%= control_panel_button _('Manage Content'), 'cms', :controller => 'cms' %>

      <%= control_panel_button t('networks_plugin.views.control_panel.structure'), nil, :controller => :networks_plugin_network, :action => :show_structure %>

    <% end %>
  </div>
<% end %>
