<div id="ordered-product-<%=ordered_product.id%>" class="value-row ordered-product" toggleedit="orders.product_edit();">

  <% if @quantity_asked_less_than_minimum and @quantity_asked_less_than_minimum == ordered_product.id %>
    <div class=distribution-error-message>
      <%= t('orders_plugin.views.product._edit.this_product_requires') % {:value => product.minimum_selleable_as_currency_number} %>
    </div>
  <% end %>

  <% f.fields_for "ordered_product-#{ordered_product.id}", ordered_product do |f| %>

    <%= f.hidden_field :id %>

    <%# keep this div for first-child to work %>
    <div>
      <div class="box-field supplier"><%= product.supplier.name %></div>
      <div class="box-field product"><%= product.name %></div>

      <% if ordered_product.order.open? or (@admin_action and ordered_product.order.session.orders?) %>
        <div id=<%="product-quantity-#{ordered_product.id.to_s}"%> class="box-field product-quantity">
          <%= render :partial => "orders_plugin_product/quantity", :locals => {:product => ordered_product, :f => f} %>
        </div>
      <% else %>
        <div class="box-field product-quantity">
          <span><%= ordered_product.quantity_asked_as_currency_number %></span>
          <span class="lower"><%= product.unit.singular %></span>
        </div>
      <% end %>

      <div id=<%="product-price-total-#{ordered_product.id.to_s}"%> class="box-field price-total">
        <%= render :partial => "orders_plugin_product/price_total", :locals => {:product => ordered_product} %>
      </div>
    </div>

    <div class="more-actions" style="display: none">

      <div class="box-field box-details">
        <% if @admin_action %>
          <%= link_to_function t('orders_plugin.views.product._edit.remove_from_order'), "jQuery(this).parents('.value-row').remove();" if ordered_product.order.session.orders? %>
        <% else %>
          <%= link_to t('orders_plugin.views.product._edit.see_product_details'), "#session-product-#{product.id}", :class => 'toggle-ignore' %>
          &nbsp;&nbsp;
          <%= link_to_remote t('orders_plugin.views.product._edit.remove_from_order'), :update => "ordered-product-#{ordered_product.id}",
            :url => {:controller => 'orders_plugin_product', :action => :destroy, :id => ordered_product.id} if ordered_product.order.open? %>
        <% end %>
      </div>

      <div class="box-field price-with-unit"><%= price_with_unit_span product.price_as_currency_number, product.unit %></div>

      <div class="clean"></div>
    </div>

    <div class="clean"></div>
  <% end %>
</div>
