<% partial = @admin_action ? 'admin_edit' : 'edit' %>

<div class="order-products-container <%= "empty" if order.products.count == 0 %>">
  <% if order.products.count > 0 %>
    <div class="order-products">
      <div class="table-header">
        <div class="box-field supplier"> <%= t('orders_plugin.views.product._index.supplier') %> </div>
        <div class="box-field product"> <%= t('orders_plugin.views.product._index.product') %> </div>
        <div class="box-field quantity"> <%= t('orders_plugin.views.product._index.quantity') %> </div>
        <div class="box-field price-total"> <%= t('orders_plugin.views.product._index.price_total') % {:currency => @environment.currency_unit} %> </div>
      </div>

      <div class="table-content">
        <% if f %>
          <% f.fields_for :products, order.products do |f| %>
            <% order.products.each do |ordered_product| %>
              <%= render "orders_plugin_product/#{partial}", :order => order, :ordered_product => ordered_product, :product => ordered_product.product, :f => f %>
            <% end %>
          <% end %>
        <% else %>
          <% order.products.each do |ordered_product| %>
            <%= render "orders_plugin_product/#{partial}", :order => order, :ordered_product => ordered_product, :product => ordered_product.product, :f => f %>
          <% end %>
        <% end %>
      </div>

      <div class="clean"></div>
    </div>

    <div id="order-total-<%=order.id%>" class="order-total">
      <%= render :partial => 'orders_plugin_consumer/total', :locals => {:order => order} %>
    </div>
  <% else %>
    <%= t('orders_plugin.views.product._index.empty_order') %>
  <% end %>

  <div class="clean"></div>
</div>

