<%
  callback = '' unless defined? callback
%>

<div id="fb-root"></div>

<%= javascript_include_tag 'https://connect.facebook.net/en_US/all.js' %>
<%= javascript_tag do %>
  fb_app.current_url = <%= url_for(params).to_json %>;
  fb_app.base_url = 'https://<%= environment.default_hostname %>/plugin/fb_app';

  fb_app.page_tab.app_id = <%= FbAppPlugin.page_tab_app_credentials[:id].to_json %>,
  fb_app.timeline.app_id = <%= FbAppPlugin.timeline_app_credentials[:id].to_json %>,

  fb_app.fb.init(
    <%= callback.to_json %>
  );
<% end %>
