<div id="fb-app-wrapper">
  <h1><%= _('Welcome to the Facebook app for Cirandas') %></h1>
  <p><%= _('This is an app that you can use to connect your Cirandas account to your Facebook profile!')%></p>
  <p><%= _('To install and/or configure the app, just follow the steps below:')%></p>
  <ol>
    <li><%= _('Log in to your Cirandas account. To do this,')%> <a href="http://cirandas.net"><%= _('click here') %></a></li>
    <li><%= _('Go to your personal control panel and click the app button') %></li>
    <li><%= _('Now you can connect and configure the app!') %></li>
  </ol>
</div>

<%# render 'load' %>
