<div id="product-search" class="search-box" onmouseover="sniffer.search.showFilters();"
     onmouseout="sniffer.search.hideFilters();">
  <div class="legend">
    <span class="suppliers">
      <span class="icon"></span>
      <span class="text"><%= _('Suppliers') %></span>
    </span>
    <span class="consumers">
      <span class="icon"></span>
      <span class="text"><%= _('Consumers') %></span>
    </span>
  </div>

  <div class="search-field">
    <input type="text" title="<%= _('look for products...') %>" class="search-input"/>
    <%= javascript_tag 'jQuery(".search-input").hint();' %>
    <div class="search-submit"> </div>
  </div>

  <div class="focus-pane">
    <div id="categories-table-wrap">
      <table id="categories-table">
        <% @categories.each do |category| %>
          <tr>
            <td class="select">
              <%= check_box_tag category.id, 1, true, :onclick => 'sniffer.search.toggleCategoryFilter(this);' %>
            </td>
            <td class="name">
              <%= category.name %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
