<div id="product-search" class="sniffer-search-box" onmouseover="sniffer.search.showFilters();"
     onmouseout="sniffer.search.hideFilters();">
  <div class="legend">
    <span class="suppliers">
      <span class="icon"></span>
      <span class="text"><%= _('Suppliers') %></span>
    </span>
    <span class="consumers">
      <span class="icon"></span>
      <span class="text"><%= _('Consumers') %></span>
    </span>
  </div>

  <div class="sniffer-search-field">
    <input type="text" title="<%= _('look for products...') %>" class="sniffer-search-input"/>
    <div class="sniffer-search-submit"> </div>

    <%= javascript_tag do %>
      sniffer.search.load_search_input({
        sourceUrl: '<%= url_for :action => :product_category_search, :escape => false %>',
        addUrl: '<%= url_for :controller => :sniffer_plugin_myprofile, :action => :product_category_add, :id => '_id_', :escape => false %>',
      });
    <% end %>
  </div>


  <div class="focus-pane">
    <div id="categories-table-wrap">
      <table id="categories-table">
      </table>

      <script id="sniffer-category-add-template" type="text/html">
        <tr>
          <td class="select">
            <input type="checkbox" name="<@= category.id @>" checked onclick='sniffer.search.category.toggleFilter(this);'/>
          </td>
          <td class="name">
            <@= category.name @>
          </td>
        </tr>
      </script>
      <%= javascript_tag "sniffer.search.category.append(#{@categories.to_json :only => [:id, :name]});" %>
    </div>
  </div>

</div>
