<h1> <%= _('Buyer interests') %> </h1>

<%= form_for profile, as: :sniffer, url: {action: 'edit'} do |f| %>

  <div id='sniffer-plugin-product-select'>
    <div><%= _('Products and services of interest. Type some characters and choose your interests from our list.') %></div>

    <%= f.text_field 'sniffer_interested_product_category_string_ids' %>
    <% array = profile.sniffer_interested_product_categories.collect{|i| {id: i.id, name: i.name}} %>
    <%= javascript_tag do %>
      jQuery.TokenList(jQuery("#sniffer_sniffer_interested_product_category_string_ids"), '<%= url_for(action: 'product_categories') %>',
      {searchDelay:150, prePopulate: <%= array.to_json %>, preventDuplicates: true, <%= jquery_token_input_messages_json %>});
    <% end %>

  </div>

  <% button_bar do %>
    <%= submit_button(:save, _('Save')) %>
<!--    <%= button :back, _('Back to control panel'), controller: 'profile_editor' %>-->
    <%= button :back, _('Back to Interests'), controller: 'profile', action: 'interests' %>
  <% end %>
<% end %>

