<div id="sniffer-balloon-wrap">

  <div id="sniffer-balloon-arrow">
  </div>

  <div id="sniffer-balloon">

    <img id="close-box" src="http://www.google.com/intl/en_us/mapfiles/close.gif" />

    <div id="balloon-header">
      <%= profile_image @profile, :minor %>
      <div id="balloon-profile-info">
        <div>
          <%= link_to_profile @profile.name, @profile.identifier, :class => 'name' %>
        </div>
        <div>
          <% @profile.categories.collect(&:name).join ',' %>
        </div>
        <div>
          <% extend SearchHelper %>
          <% city_with_state @profile.region %>
        </div>
      </div>
    </div>

    <div id="balloon-offers">
      <div id="suppliers-products" class="products">
        <% unless @suppliers_hashes.blank? %>
          <strong><%= _('As supplier') %></strong>
          <div>
            <% @suppliers_hashes.each do |h| %>
              <div><%= render :partial => "item_#{h[:partial]}", :locals => {:hash => h} %></div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div id="consumer-products" class="products">
        <% unless @consumers_hashes.blank? %>
          <strong><%= _('As consumer') %></strong>
          <div>
            <% @consumers_hashes.each do |h| %>
              <div><%= render :partial => "item_#{h[:partial]}", :locals => {:hash => h} %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="balloon-footer">
    </div>

    <div class="clean"></div>
  </div>

  <div class="clean"></div>
</div>
