<div id="sniffer-balloon-wrap">

  <div id="sniffer-balloon-arrow">
  </div>

  <div id="sniffer-balloon">

    <div id="balloon-header">
      <%= render :partial => 'balloon_header' %>
    </div>

    <% unless @empty %>
      <div id="balloon-offers">
        <div id="suppliers-products" class="products">
          <% unless @suppliers_hashes.blank? %>
            <strong><%= _('As supplier') %></strong>
            <div>
              <% @suppliers_hashes.each do |h| %>
                <div><%= render :partial => "item_#{h[:partial]}", :locals => {:hash => h} %></div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div id="consumer-products" class="products">
          <% unless @consumers_hashes.blank? %>
            <strong><%= _('As consumer') %></strong>
            <div>
              <% @consumers_hashes.each do |h| %>
                <div><%= render :partial => "item_#{h[:partial]}", :locals => {:hash => h} %></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div id="balloon-footer">
      <% @plugins.dispatch(:sniffer_balloon_footer).each do |lambda| %>
        <%= instance_eval &lambda %>
      <% end %>

      <%= render :partial => 'balloon_close' %>
    </div>
  </div>
</div>
