
<div class="fields">
  <% unless order.self_supplier? %>
    <div class="box-field supplier">
      <%= item.product.supplier.abbreviation_or_name rescue self.profile.short_name %>
    </div>
  <% end %>

  <div class="box-field product">
    <%= item.name %>
  </div>

  <div class="box-field quantity-price-table">
    <% previous_status = nil %>
    <% OrdersPlugin::Order::Statuses.each do |status| %>
      <% last = ! order.status_on?(status) %>
      <%= render 'orders_plugin_item/quantity_price', :item => item, :order => order, :status => status, :previous_status => previous_status, :last => last,
          :actor_name => actor_name %>

      <% break if last %>
      <% previous_status = status %>
    <% end %>
  </div>

</div>

<div class="more">

  <div class="actions">

    <% if order.may_edit? user, @admin %>
      <% if @admin %>
        <%# FIXME: add remove button that do not destroy, but put zero %>

        <%= link_to_function t('orders_plugin.views.item._edit.submit'), "orders.item.submit(this, '#{url_for(:controller => :orders_plugin_admin_item, :action => :edit, :id => item.id, :actor_name => actor_name)}')", :class => 'action-button' %>

      <% else %>
        <%= link_to_remote t('orders_plugin.views.item._edit.remove_from_order'), :update => "item-#{item.id}",
          :loading => "loading_overlay.show('#item-#{item.id}')", :loaded => "loading_overlay.hide('#item-#{item.id}')",
          :url => {:controller => :orders_plugin_item, :action => :destroy, :id => item.id} if order.may_edit? user, @admin %>

        <%= link_to_function t('orders_plugin.views.item._edit.submit'), "orders.item.submit(this, '#{url_for(:controller => :orders_plugin_item, :action => :edit, :id => item.id)}')", :class => 'action-button' %>

      <% end %>

    <% end %>
  </div>

  <div class="box-field price-with-unit">
    <%= price_with_unit_span item.price_consumer_ordered_as_currency_number, item.product.unit rescue item.price_consumer_ordered_as_currency_number %>
  </div>

</div>

<div class="clean"></div>

