
<%= f.hidden_field :id if f %>

<div class="fields">
  <% unless order.self_supplier? %>
    <div class="box-field supplier">
      <%= item.product.supplier.abbreviation_or_name %>
    </div>
  <% end %>

  <div class="box-field product">
    <%= item.name %>
  </div>

  <div class="box-field quantity-price-table">
    <% OrdersPlugin::Order::Statuses.each do |status| %>
      <% break unless item.order.status_on? status %>

      <div class="quantity-price-row">
        <% data = OrdersPlugin::Item::StatusDataMap[status] %>
        <% quantity = item.send "quantity_#{data}_as_currency_number" %>
        <% price = item.send "price_#{data}_as_currency_number" %>

        <div class="box-field quantity <%=status%>">
          <span class="value"><%= quantity %></span>
          <span class="unit"><%= excerpt_ending item.product.unit.singular, 4, '.' rescue '' %></span>

          <% if f and OrdersPlugin::Item::StatusAccessMap[status] == actor_name %>
            <%= f.text_field "quantity_#{data}", :value => quantity, :onkeyup => 'orders.item.quantity_keyup(this, event)' %>
          <% end %>
        </div>

        <div class="box-field price-total">
          <%= price_span price %>
        </div>
      </div>
    <% end %>
  </div>

</div>

<div class="more">

  <div class="actions">

    <% if @admin %>
      <%= link_to_function t('orders_plugin.views.item._edit.remove_from_order'), "jQuery(this).parents('.value-row').remove();"  %>

    <% elsif f %>

      <%= link_to_function t('orders_plugin.views.item._edit.submit'), "orders.item.submit(this, '#{url_for(:controller => :orders_plugin_item, :action => :edit, :id => item.id)}')", :class => 'action-button' %>

      <%= link_to_remote t('orders_plugin.views.item._edit.remove_from_order'), :update => "item-#{item.id}",
        :loading => "loading_overlay.show('#item-#{item.id}')", :loaded => "loading_overlay.hide('#item-#{item.id}')",
        :url => {:controller => :orders_plugin_item, :action => :destroy, :id => item.id} if order.may_edit? user, @admin %>

    <% end %>
  </div>

  <div class="box-field price-with-unit">
    <%= price_with_unit_span item.price_consumer_ordered_as_currency_number, item.product.unit rescue item.price_consumer_ordered_as_currency_number %>
  </div>

</div>

<div class="clean"></div>

