
<%= f.hidden_field :id if f %>

<div class="fields">
  <% unless order.self_supplier? %>
    <div class="box-field supplier">
      <%= excerpt_ending item.product.supplier.abbreviation_or_name, 12 rescue '-' %>
    </div>
  <% end %>

  <div class="box-field product">
    <%# excerpt_ending item.name, 22 %>
    <%= item.name %>
  </div>

  <div class="box-field quantity">
    <span class="value"><%= item.quantity_asked_as_currency_number %></span>
    <span class="unit"><%= excerpt_ending item.product.unit.singular, 4, '.' rescue '' %></span>
  </div>
  <% if f %>
    <div class="box-field quantity-edit">
      <%= f.text_field :quantity_asked, :value => item.quantity_asked_as_currency_number %>
    </div>
  <% end %>

  <div class="box-field price-total">
    <%= render "orders_plugin_item/price_total", :item => item %>
  </div>

  <%# if @admin %>
  <% if nil %>
    <div class="box-field status-updated"> <%= t('orders_plugin.views.item._index.status_updated') %> </div>
  <% end %>
</div>

<div class="more">

  <% if @admin %>
    <div class="actions">
      <%= link_to_function t('orders_plugin.views.item._edit.remove_from_order'), "jQuery(this).parents('.value-row').remove();"  %>
    </div>

    <div class="price-with-unit"><%= price_with_unit_span item.price_as_currency_number, item.product.unit rescue item.price_as_currency_number %></div>

    <div class="clean"></div>
  <% elsif f %>
    <div class="more">

      <div class="actions">
        <%= link_to_function t('orders_plugin.views.item._edit.submit'), "orders.item.submit(this, '#{url_for(:controller => :orders_plugin_item, :action => :edit, :id => item.id)}')", :class => 'action-button' %>

        <%= link_to_remote t('orders_plugin.views.item._edit.remove_from_order'), :update => "item-#{item.id}",
          :loading => "loading_overlay.show('#item-#{item.id}')", :loaded => "loading_overlay.hide('#item-#{item.id}')",
          :url => {:controller => :orders_plugin_item, :action => :destroy, :id => item.id} if order.may_edit? user %>
      </div>

      <div class="price-with-unit"><%= price_with_unit_span item.price_as_currency_number, item.product.unit rescue item.price_as_currency_number %></div>
    </div>
  <% end %>
</div>

<div class="clean"></div>

