<div class="order-items-container <%= "empty" if order.items.count == 0 %>">

  <% if order.items.count > 0 %>
    <div class="order-items-scroll">
      <div class="order-items <%= "self-supplier" if order.self_supplier? %>">
        <div class="table-header">
          <% unless order.self_supplier? %>
            <div class="box-field supplier"> <%= t('orders_plugin.views.item._index.supplier') %> </div>
          <% end %>
          <div class="box-field product"> <%= t('orders_plugin.views.item._index.product') %> </div>
          <div class="box-field quantity"> <%= t('orders_plugin.views.item._index.quantity') %> </div>
          <div class="box-field price-total"> <%= t('orders_plugin.views.item._index.price_total') % {:currency => @environment.currency_unit} %> </div>
          <%# if @admin %>
          <% if nil %>
            <div class="box-field status-updated"> <%= t('orders_plugin.views.item._index.status_updated') %> </div>
          <% end %>
        </div>

        <div class="table-content">
          <% if f %>
            <% f.fields_for :items, order.items do |f| %>
              <% order.items.each do |item| %>
                <%= render "orders_plugin_item/edit", :order => order, :item => item, :product => item.product, :f => f %>
              <% end %>
            <% end %>
          <% else %>
            <% order.items.each do |item| %>
              <%= render "orders_plugin_item/edit", :order => order, :item => item, :product => item.product, :f => nil %>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>

    <div class="order-total">
      <%= render :partial => 'orders_plugin_consumer/total', :locals => {:order => order} %>
    </div>
  <% else %>
    <%= t('orders_plugin.views.item._index.empty_order') %>
  <% end %>

</div>

