<div class="quantity-price-row <%= status %> <%= status_data[:flags].keys.join ' ' %>">

  <div class="box-field quantity">
    <span class="value"><%= status_data[:quantity] %></span>

    <% if not @simple and status_data[:flags][:editable] %>
      <%= text_field_tag "item[quantity_#{status_data[:field]}]", status_data[:quantity], :onkeydown => 'orders.item.quantity_keydown(this, event)' %>
    <% end %>

    <span class="unit"><%= item.product.unit.singular rescue '' %></span>
  </div>

  <div class="box-field price-total">
    <span class="<%= 'outdated' if status_data[:new_price] %>">
      <%= status_data[:price] %>
    </span>
    <% if status_data[:new_price] %>
      <span class="new-price">
        <%= status_data[:new_price] %>
      </span>
    <% end %>
  </div>

  <% if @admin %>
    <div class="box-field status">
      <%= t(OrdersPlugin::Order::StatusText[status]) %>
    </div>
  <% end %>

</div>
