<h1><%= _('Profile settings for %s') % profile.name %></h1>

<%= error_messages_for :profile %>

<%= labelled_form_for :profile_data, @profile, :html => { :id => 'profile-data', :multipart => true } do |f| %>

  <%= render :partial => partial_for_class(@profile.class), :locals => { :f => f } %>
  <%= javascript_tag do %>
    jQuery('#profile_data_city, #profile_data_state').parents('.required-field').remove();
  <% end %>

  <div id="profile_change_picture_title">
    <h2><%= _('Change picture') %></h2>
    <span><%= unchangeable_privacy_field @profile %></span>
  </div>
  <div id="profile_change_picture">
    <%= f.fields_for :image_builder, @profile.image do |i| %>
      <%= file_field_or_thumbnail(_('Image:'), @profile.image, i) %><%= _("Max size: %s (.jpg, .gif, .png)")% Image.max_size.to_humanreadable %>
    <% end %>
  </div>

<!--   <h2><%= _('Privacy options') %></h2> -->

  <% if profile.person? %>
    <div>
      <%= labelled_radio_button _('Public &mdash; show my contents to all internet users'), 'profile_data[public_profile]', true, @profile.public_profile? %>
    </div>
    <div>
      <%= labelled_radio_button _('Private &mdash; show my contents only to friends'), 'profile_data[public_profile]', false, !@profile.public_profile? %>
    </div>
  <% else %>
<!--    <div>
      <%= labelled_radio_button _('Public &mdash; show content of this group to all internet users'), 'profile_data[public_profile]', true, @profile.public_profile? %>
    </div>
    <div>
      <%= labelled_radio_button _('Private &mdash; show content of this group only to members'), 'profile_data[public_profile]', false, !@profile.public_profile? %>
    </div>-->
  <% end %>

  <% if environment.enabled?('allow_change_of_redirection_after_login') %>
    <h2><%= _('Page to redirect after login') %></h2>
    <%=  select 'profile_data', 'redirection_after_login', Environment.login_redirection_options.map{|key,value|[value,key]}, { :selected => @profile.preferred_login_redirection} %>
  <% end %>

<!--  <h2><%= _('Translations') %></h2>-->
  <%=
   # labelled_check_box(
   # _('Automaticaly redirect the visitor to the article translated to his/her language'),
   # 'profile_data[redirect_l10n]', true, @profile.redirect_l10n
   # )
   %>

  <%=
  #  @plugins.dispatch(:profile_editor_extras).each do |content|
  #    content.respond_to?(:call) ? content.call : content
  #  end.join("\n")
  %>

  <%= #select_categories(:profile_data, _('Select the categories of your interest'), 2)
  %>

  <% button_bar do %>
    <%= submit_button('save', _('Save'), :cancel => {:controller => 'profile', :action => 'index'}) %>
    <%= button(:back, _('Back to control panel'), :controller => 'profile') %>
  <% end %>

  <% if user && user.has_permission?('destroy_profile', profile) %>
    <% button_bar(:id => 'delete-profile') do %>
      <%= button(:remove, _('Delete profile'), {:action => :destroy_profile}) %>
    <% end %>
  <% end %>
<% end %>

<hr/>

<h1><%= _('Location') %></h1>
<div class="error">
  <%= flash[:error] %>
</div>

<%= form_for :profile_data, :url => {:controller => :maps, :action => 'edit_location'}, :html => {:id => 'location-form'} do |f| %>

  <div id='location-fields'>
    <%= select_country _('Country'), 'profile_data', 'country', {:class => 'type-select'} %>
    <%= labelled_form_field _('State'), f.text_field(:state) %>
    <%= labelled_form_field _('City'), f.text_field(:city) %>
    <%= labelled_form_field _('ZIP code'), text_field(:profile_data, :zip_code) %>
    <%= labelled_form_field _('Address (street and number)'), text_field(:profile_data, :address) %>
    <% button_bar do %>
      <%= button_to_function :search, _('Locate in the map'), "addressToPoint()", :title => _("Locate the address informed above in the map below (note that you'll probably need to adjust the marker to get a precise position)")  %>
      <%= submit_button 'save', _('Save') %>
      <%= button(:back, _('Back to control panel'), :controller => 'profile_editor') %>
    <% end %>
  </div>

  <p><%= _('Drag the balloon to find the exact location.') %> </p>

  <div style='overflow: hidden'>
    <p><div id="location-map"></div></p>
  </div>

  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>

<% end %>

<%= content_tag('script', '', :src => "https://maps.googleapis.com/maps/api/js?sensor=false", :type => 'text/javascript') %>
<%= content_tag('script', '', :src => url_for(:controller => :maps, :action => :google_map), :type => 'text/javascript') %>
