<% user = (session[:user] && User.find_by_id(session[:user])) || nil %>

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#"><%= theme_site_logo %><%= h @environment.name %></a>
      <ul class="nav navbar-nav pull-left menu-navigation">
        <%= theme_extra_navigation %>
      </ul>

    </div>
    <div class="navbar-header pull-right">

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="navbar-search-collapse">
      <form action="/search" id="top-search" class="navbar-form navbar-left" method="get" role="search">
        <div class="form-group">
          <input name="query" title="<%=_('Search...')%>" placeholder="<%=_('Search...')%>" type="text" class="form-control"/>
        </div>
      </form>
    </div>
    <div class="collapse navbar-collapse" id="navbar-user-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user.present? %>
          <% user = user.person %>
          <%= usermenu_logged_in %>
        <% else %>
            <li>
              <%= modal_inline_link_to('<i class="icon-menu-login"></i><strong>' + _('Login') + '</strong>', login_url, '#inlineLoginBox', :id => 'link_login') %>
              <%= @plugins.dispatch(:alternative_authentication_link).collect { |content| instance_exec(&content) }.join("") %>

            </li>

            <span class='not-logged-in'>

              <div id='inlineLoginBox' style='display: none;'>
                <%= render :file => 'account/login', :locals => { :is_thickbox => true } %>
              </div>

              <% unless @plugins.dispatch(:allow_user_registration).include?(false) %>
                <%= _("<span class='or'>or</span> <span class='signup'>%s</span>") % link_to('<strong>' + _('Sign up') + '</strong>', :controller => 'account', :action => 'signup')%>
              <% end %>
            </span>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
