  <tr>
    <td><% if @message.enterprise_sender.id == profile.id%><%= link_to profile_image(profile, :thumb) +"\n", profile.url %><% end %></td>
    <td>
    <% if @message.enterprise_sender.id == profile.id%>
      <div class="exchange_my_message">
    <% else %>
      <div class="exchange_other_message">
    <% end %>
    <% divclass = (@message.enterprise_sender.id == profile.id) ? "comment-ballon" : "comment-ballon-inverted" %><div class="<%= divclass%>">
    <div class="comment-wrapper-1">
    <div class="comment-wrapper-2">
    <% divclass = (@message.enterprise_sender.id == profile.id) ? "comment-wrapper-3" : "comment-wrapper-3-inverted" %><div class="<%= divclass%>">
    <div class="comment-wrapper-4">
    <% divclass = (@message.enterprise_sender.id == profile.id) ? "comment-wrapper-5" : "comment-wrapper-5-inverted" %><div class="<%= divclass%>">
    <div class="comment-wrapper-6">
      <% divclass = (@message.enterprise_sender.id == profile.id) ? "comment-wrapper-7" : "comment-wrapper-7-inverted" %><div class="<%= divclass%>">
      <% divclass = (@message.enterprise_sender.id == profile.id) ? "comment-wrapper-8" : "comment-wrapper-8-inverted" %><div class="<%= divclass%>">
    <div  class="comment-balloon-content">
      <table>
        <tr><td class="exchange_label"> <%=_('From:') %></td><td><%= @message.enterprise_sender.name + " - " + @message.person_sender.name %></td></tr>
        <tr><td class="exchange_label"> <%=_('To:') %></td><td><%= @message.enterprise_recipient.name %></td></tr>
        <tr><td class="exchange_label"><%=_('Date sent:') %></td><td><%= @message.created_at.strftime("%d de %B de %Y, às %H:%M") %></td></tr>
        <tr><td colspan="2"><%= @message.body %></td></tr>
      </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <br />
  </td>
  <td><% if @message.enterprise_sender.id != profile.id %><%= link_to profile_image(@exchange.the_other(profile), :thumb) +"\n", profile.url %><% end %></td>
  </tr>