<script type="text/javascript">
  function choose_origin_offers(button,message, event) {
    if (jQuery.inArray(true, jQuery('.exchange_checkbox').map(function(index, element){return element.checked})) == -1) 
    { alert(message); event.preventDefault(); return false;}
      else
    {return true;}
  }
</script>

<!--
<h2><%= _("%{target} offers:") % {:target => @target_enterprise_name} %></h2>

<table>
  <tr>
    <th><%= _("Product") %></th>
    <th><%= _("Quantity") %></th>
  </tr>
  <% if @target_products %>
    <% @target_products.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= @target_quantities["#{p.id}"] %></td>
      </tr>
    <% end %>
  <% end %>
  <% if @target_knowledges %>
  <% @target_knowledges.each do |k| %>
    <tr>
      <td><%= k.name %></td>
      <td><%= @target_knowledge_quantities["#{k.id}"] %></td>
    </tr>
  <% end %>
  <% end %>


</table>
-->
<% if @origin_enterprise.products.blank? && (@origin_enterprise.articles.find_by_type "CmsLearningPluginLearning").blank? %>
  <p><%= _('You dont have any offers registered. Please register products or knowledges and try again.') %></p>
<% else %>
  <% form_for :exchange, :url => {:controller => 'exchange_plugin_profile', :action => 'conclude_exchange_proposal'} do |f| %>
    <%= hidden_field_tag "origin_enterprise_id", @origin_enterprise.id %>
    <% if @target_products %>
      <% @target_products.each do |p| %>
        <%= hidden_field_tag "target_product_id[]", p.id %>
        <%= hidden_field_tag "target_quantity[#{p.id}]", @target_quantities["#{p.id}"] %>
      <% end %>
    <% end %>
    <% if @target_knowledges %>
      <% @target_knowledges.each do |k| %>
        <%= hidden_field_tag "target_knowledge_id[]", k.id %>
        <%= hidden_field_tag "target_knowledge_quantity[#{k.id}]", @target_knowledge_quantities["#{k.id}"] %>
      <% end %>
    <% end %>
    <% if @matching_products_inputs.count + @matching_products_interests.count + @matching_knowledges_inputs.count + @matching_knowledges_interests.count > 0 %>
      <h2><%= _("%{origin} offers that matches %{target} interests:") % {:target => @target_enterprise_name, :origin => @origin_enterprise.name} %></h2>
      <table>
        <tr>
          <th> </th>
          <th><%= _('Product/Service/Knowledge') %></th>
          <th><%= _("Quantity") %></th>
          <th><%=  %></th>
        </tr>
        <% @matching_products_inputs.each do |p| %>
          <% input_name = (Input.find p.input_id).name %>
          <% product_supplier_name = (p.products_supplier_name ? p.products_supplier_name : (Product.find p.products_supplier_id).product_category.name) %>
          <% product_name = (!p.name_is_blank? ? p.name : (Product.find p.id).product_category.name) %>
          <tr style="background:#00FFB7">
            <td><%= check_box_tag "origin_product_id[]", p.products_supplier_id %></td> 
            <td><%= product_supplier_name %></td>
            <td><%= text_field_tag "origin_quantity[#{p.products_supplier_id}]", nil, :class => "numbers-only" %></td>
            <td><%= _("%{e_name} offers %{products_supplier_name} and %{profile_name} needs %{input_name} to make %{p_name} <br />") % 
             {:products_supplier_name => product_supplier_name, :profile_name => profile.name, :input_name => input_name, :e_name => @origin_enterprise.name, :p_name => product_name} %>
          </tr>
        <% end %>
        <% @matching_products_interests.each do |p| %>
          <% interest_name = (Category.find p.product_category_id).name %>
          <tr style="background:#00FFB7">
            <td><%= check_box_tag "origin_product_id[]", p.id, false, :class => "exchange_checkbox" %></td> 
            <td><%= p.name %></td>
            <td><%= text_field_tag "origin_quantity[#{p.id}]", nil, :class => "numbers-only" %></td>
            <td><%= _("%{e_name} offers %{product_name} and %{profile_name} is interested in %{interest_name} <br />") % 
              {:product_name => p.name, :profile_name => profile.name, :interest_name => interest_name, :e_name => @origin_enterprise.name} %>
          </tr>
        <% end %>
        <% @matching_knowledges_inputs.each do |k| %>
          <% input_name = (Category.find k.input_cat).name %>
          <% product_name = (!k.product.blank? ? k.product : (Category.find k.product_cat).name) %>
          <tr style="background:#FFF690">
            <td><%= check_box_tag "origin_knowledge_id[]", k.id, false, :class => "exchange_checkbox" %></td>
            <td><%= k.knowledge_name %></td>
            <td><%= text_field_tag "origin_knowledge_quantity[#{k.id}]", nil, :class => "numbers-only" %></td>
            <td><%= _("%{e_name} knows %{knowledge_name} and %{profile_name} uses %{input_name} to make %{product_name}<br />") % 
              {:knowledge_name => k.knowledge_name, :profile_name => profile.name, :input_name => input_name, 
               :e_name => @origin_enterprise.name, :product_name => product_name} %>
           </tr>
        <% end %>
        <% @matching_knowledges_interests.each do |k| %>
          <% interest_name = (Category.find k.interest_cat).name %>
          <tr style="background:#FFF690">
            <td><%= check_box_tag "origin_knowledge_id[]", k.id, false, :class => "exchange_checkbox" %></td> 
            <td><%= k.knowledge_name %></td>
            <td><%= text_field_tag "origin_knowledge_quantity[#{k.id}]", nil, :class => "numbers-only" %></td>
            <td><%= _("%{e_name} knows %{knowledge_name} and %{profile_name} is interested in %{interest_name}<br />") % 
               {:knowledge_name => k.knowledge_name, :profile_name => profile.name, :interest_name => interest_name, :e_name => @origin_enterprise.name} %>
          </tr>
        <% end %>
      </table>
    <% else %>
        <p><%= _("There are no offers by %{origin} that matches %{target} interests.") % {:target => @target_enterprise_name, :origin => @origin_enterprise.name} %></p>
    <% end %>

    <% if ((@origin_products_filtered.count > 0) || (@origin_knowledges_filtered.count > 0)) %>
      <h2><%= _("%{origin} offers:") % {:origin => @origin_enterprise.name} %></h2>
      <table>
        <tr>
          <th></th>
          <th><%= _('Product/Service/Knowledge') %></th>
          <th><%= _("Quantity") %></th>
        </tr>
        <% if @origin_products_filtered.count > 0 %>
          <% @origin_products_filtered.each do |p| %>
            <tr style="background:#00FFB7">
              <td><%= check_box_tag "origin_product_id[]", p.id, false, :class => "exchange_checkbox" %></td>
              <td><%= p.name %></td>
              <td><%= text_field_tag "origin_quantity[#{p.id}]", nil, :class => "numbers-only" %></td>
            </tr>
          <% end %>
        <% end %>
        <% if @origin_knowledges_filtered.count > 0%>
          <% @origin_knowledges_filtered.each do |k| %>
            <tr style="background:#FFF690">
              <td><%= check_box_tag "origin_knowledge_id[]", k.id, false, :class=> "exchange_checkbox" %></td>
              <td><%= k.name %></td>
              <td><%= text_field_tag "origin_knowledge_quantity[#{k.id}]", nil, :class => "numbers-only" %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <% if @target_inputs_filtered.count > 0 %>
        <h2><%= _("Other inputs of %{target}:") % {:target => profile.name} %></h2>
          <table style="background:#00FFFF">
            <tr>
              <th></th>
              <th><%= _("Product") %></th>
              <th><%= _("Quantity") %></th>
            </tr>
            <% @target_inputs_filtered.each do |p| %>
              <tr>
                <td><%= check_box_tag "target_input_id[]", p.id,false,:onClick => "alert('" + _('You dont have this product within your offers. Please add it and try again.') + "'); this.checked = 0;" %></td>
                <td><%= p.name %></td>
                <td><%= text_field_tag "target_input_quantity[#{p.id}]", nil, :class => "numbers-only" %></td>
              </tr>
            <% end %>
           </table>
      <% end %>

      <% if @target_interests_filtered.count > 0 %>
        <h2><%= _("Other interests of %{target}:") % {:target => profile.name} %></h2>
        <table style="background:#00DDFF">
          <tr>
            <th></th>
            <th><%= _("Product") %></th>
            <th><%= _("Quantity") %></th>
          </tr>
          <% @target_interests_filtered.each_with_index do |p,k| %>
            <tr>
              <td><%= check_box_tag "target_interest_id[]", p.id,false,:onClick => 
                "alert('" + _('You dont have this product within your offers. Please add it and try again.') + "'); this.checked = 0;" %></td>
              <td><%= @target_interests_names_filtered[k] %></td>
              <td><%= text_field_tag "target_interest_quantity[#{p.id}]", nil, :class => "numbers-only" %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% end %>
    <% message = _('Choose at least one element!')%>
    <% button_bar do %>
      <%= f.submit _('Continue >>'), :onclick => "choose_origin_offers(this,'%{msg}', event);" % {:msg => message} %>
      <%= button_to_function :back, _('Back to %{target} offers') % {:target => @target_enterprise_name}, "history.back()"%>
    <% end %>
  <% end #formfor%>
<% end #if products or articles%> 
