<div id="exc-plg-exchange_wrapper">
  <div id="exc-plg-title_wrapper">
    <h1> <%= _('Exchange Negociation') %> </h1>
  </div>
  <div id="exc-plg-states_wrapper">
    <div id="exc-plg-states">
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state exc-plg-active">
          <p class="exc-plg-state_number">1</p>
          <p class="exc-plg-state_name"><%= _('Proposal') %></p>
        </div>
      </div>
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state exc-plg-future">
          <p class="exc-plg-state_number">2</p>
          <p class="exc-plg-state_name"><%= _('Negociation') %></p>
        </div>
      </div>
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state exc-plg-future">
          <p class="exc-plg-state_number">3</p>
          <p class="exc-plg-state_name"><%= _('Evaluation') %></p> 
        </div>
      </div>
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state exc-plg-future">
          <p class="exc-plg-state_number">4</p>
          <p class="exc-plg-state_name"><%= _('Finished') %></p>
        </div>
      </div>
    </div> <!-- states -->
    <div id="exc-plg-enterprise_headers">
      <div id="exc-plg-enterprise_origin">
        <div id="exc-plg-origin_thumb">
          <%= link_to profile_image(@origin, :thumb, :style => "height: 65px; width: 65px;") +"\n", @origin.url %>
        </div>
        <p class="menu_g_selecionado"><%= @origin.name %></p>
      </div>
      <div id="exc-plg-enterprise_target">
        <div id="exc-plg-target_thumb">
          <%= link_to profile_image(@target, :thumb, :style => "height: 65px; width: 65px;") +"\n", @target.url %>
        </div>
        <p class="menu_g_selecionado"><%= @target.name %></p>
      </div>
    </div> <!-- enterprise_headers -->
  </div> <!-- states wrapper -->

  <div id="exc-plg-proposal_wrapper">
    <div id="exc-plg-proposal_header">
        <p><strong><%= @origin.name %></strong> propõe</p>
    </div>
    <div id="exc-plg-proposal_header_buttons">
      <button class="exc-plg-exchange_plugin_button">Enviar esta proposta</button>
      <button class="exc-plg-exchange_plugin_button">Cancelar esta proposta</button>
    </div>
    <div id="exc-plg-proposal_messages">
    </div>
    <div id="exc-plg-proposal_offer_request_wrapper">
      <div id="exc-plg-proposal_offer">
        <h2><%= _('Oferta') %></h2>
        <ul id="exc-plg-origin_elements_list">
        </ul>
        <h2><%= _('What you can offer?') %></h2>
        <div id="exc-plg-button-wrapper">
          <button class="exc-plg-exchange_plugin_button"><%= _('Add not registered product')%></button>
          <button class="exc-plg-exchange_plugin_button"><%= _('Add amount in money')%></button>
        </div>

        <% if @origin.products.blank? && @origin_knowledges.blank? %>
          <%= _("%s has no offers registered.") % profile.name %>
        <% else %>
          
          <% if !@origin.products.blank? %>
            <h4><%= _('Your Products') %></h4>
            <ul id="exc-plg-products_list" class="exc-plg-origin_offers">
            <% @origin.products.each do |p| %>
              <li id=exchange_Product_<%= p.id %>>
                  <%= link_to(p.category_name) + " " + link_to(p.name) %>
                  

                  <%= link_to_remote "<button class='exc-plg-exchange_plugin_button exc-plg-add'>+</button>", 
                  :url => {:action => "add_element", :element_id => p.id,  
                  :enterprise_id => @origin.id, :element_type => "Product", :exchange_id => @exchange.id, :proposal_id => @proposal.id, :enterprise => "origin"} %>

              </li>
            <% end %>
            </ul>
          <% end %>
          <% if !@origin_knowledges.blank? %>
            <h4><%= _('Your Knowledges') %></h4>
            <ul id="exc-plg-knowledges_list" class="exc-plg-origin_offers">
            <% @origin_knowledges.each do |k| %>
              <li><%= link_to(k.category_name) + " " + link_to(k.name) %></li>
            <% end %>
            </ul>
          <% end %>
        <% end %>


      </div>
      <div id="exc-plg-proposal_request">
        <h2>Pedido</h2>
        <ul id="exc-plg-target_elements_list">
        </ul>
        <h2><%= _('What do the other can offer?') %></h2>
        <div id="exc-plg-button-wrapper">
          <button class="exc-plg-exchange_plugin_button"><%= _('Add not registered product')%></button>
          <button class="exc-plg-exchange_plugin_button"><%= _('Add amount in money')%></button>
        </div>


        <% if @target.products.blank? && @target_knowledges.blank? %>
          <%= _("%s has no offers registered.") % profile.name %>
        <% else %>
          <% if !@target.products.blank? %>
            <h4><%= _('Products') %></h4>
            <ul id="exc-plg-products_list" class="exc-plg-target_offers">
            <% @target.products.each do |p| %>
              <li id=exchange_Product_<%= p.id %>>
                  <%= link_to(p.category_name) + " " + link_to(p.name) %>

                  <%= link_to_remote "<button class='exc-plg-exchange_plugin_button exc-plg-add'>+</button>", 
                  :url => {:action => "add_element", :element_id => p.id,  
                  :enterprise_id => @origin.id, :element_type => "Product", :exchange_id => @exchange.id, :proposal_id => @proposal.id, :enterprise => "target"} %>


              </li>
            <% end %>
            </ul>
          <% end %>
          <% if !@target_knowledges.blank? %>
            <h4><%= _('Knowledges') %></h4>
            <ul id="exc-plg-knowledges_list" class="exc-plg-target_offers">
            <% @target_knowledges.each do |k| %>
              <li><%= link_to(k.category_name) + " " + link_to(k.name) %></li>
            <% end %>
            </ul>
          <% end %>
        <% end %>

      </div>
    </div> <!-- proposal_offer_request_wrapper -->
  </div> <!-- proposal_wrapper -->

</div> <!-- exchange_wrapper -->