<div id="exc-plg-exchange_wrapper">
  <div id="exc-plg-title_wrapper">
    <h1> <%= _('Exchange Negociation') %> </h1>
  </div>
  <div id="exc-plg-states_wrapper">
    <div id="exc-plg-states">
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state exc-plg-active">
          <p class="exc-plg-state_number">1</p>
          <p class="exc-plg-state_name"><%= _('Proposal') %></p>
        </div>
      </div>
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state exc-plg-future">
          <p class="exc-plg-state_number">2</p>
          <p class="exc-plg-state_name"><%= _('Negociation') %></p>
        </div>
      </div>
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state exc-plg-future">
          <p class="exc-plg-state_number">3</p>
          <p class="exc-plg-state_name"><%= _('Evaluation') %></p> 
        </div>
      </div>
      <div class="exc-plg-outer-border">
        <div class="exc-plg-state exc-plg-future">
          <p class="exc-plg-state_number">4</p>
          <p class="exc-plg-state_name"><%= _('Finished') %></p>
        </div>
      </div>
    </div> <!-- states -->
    <div id="exc-plg-enterprise_headers">
      <div id="exc-plg-enterprise_origin">
        <div id="exc-plg-origin_thumb"></div>
        <p class="menu_g_selecionado">As irmãs da Providência</p>
      </div>
      <div id="exc-plg-enterprise_target">
        <div id="exc-plg-target_thumb"></div>
        <p class="menu_g_selecionado">Associação Pé de Pinho</p>
      </div>
    </div> <!-- enterprise_headers -->
  </div> <!-- states wrapper -->

  <div id="exc-plg-proposal_wrapper">
    <div id="exc-plg-proposal_header">
        <p>As irmãs da providência propoe</p>
    </div>
    <div id="exc-plg-proposal_header_buttons">
      <button class="exc-plg-exchange_plugin_button">Enviar esta proposta</button>
      <button class="exc-plg-exchange_plugin_button">Cancelar esta proposta</button>
    </div>
    <div id="exc-plg-proposal_messages">
    </div>
    <div id="exc-plg-proposal_offer_request_wrapper">
      <div id="exc-plg-proposal_offer">
        Oferta
      </div>
      <div id="exc-plg-proposal_request">
        Pedido
      </div>
    </div> <!-- proposal_offer_request_wrapper -->
  </div> <!-- proposal_wrapper -->

</div> <!-- exchange_wrapper -->