<%= form_for profile, as: :profile_data, remote: true, url: {action: :track_config},
  html: {id: 'track-config', data: {loading: '#track-config', update: '#track-form', type: 'html'}} do |f| %>

  <div class="panel-group" role="tablist" aria-multiselectable="true">
    <% OpenGraphPlugin::TrackConfig::Types.each do |track, klass| %>
      <div class="panel panel-primary">
        <%
          klass = "OpenGraphPlugin::#{klass}".constantize
        %>

        <div class="panel-heading">
          <a href="#track-<%=track%>" data-toggle="collapse" data-parent="#accordion" aria-controls="collapseTwo" onclick='open_graph.track.config.toggle(this, event)'>
            <span class='config-check fa'></span>
            <%= f.fields_for "#{context}_settings" do |ff| %>
              <%= ff.hidden_field klass.track_enabled_field %>
            <% end %>
            <%= t("open_graph_plugin.views.track.config.#{track}.label") %>
          </a>
        </div>

        <div id="track-<%=track%>" class="panel-body collapse">
          <%= render "track_#{track}", f: f, track: track, klass: klass, context: context %>
        </div>

      </div>
    <% end %>
  </div>

  <%= submit_button :save, _('Save') %>
<% end %>

<%= javascript_tag do %>
  open_graph.track.config.init()
<% end %>
