<h2>
  <%= t('fb_app_plugin.views.myprofile.timeline.heading') %>
</h2>

<%= form_for :profile, as: :profile_data, remote: true, url: {action: :track_config},
  html: {id: 'track-config'} do |f| %>

  <div class="panel panel-primary">
    <% OpenGraphPlugin::Track::Config.each do |track, klass| %>
      <% klass = "OpenGraphPlugin::#{klass}".constantize %>
      <%= f.fields_for "open_graph_#{track}_tracks_attributes" do |ff| %>

        <div class="panel-heading">
          <%= link_to t("open_graph_plugin.lib.track.config.#{track}.label"), "#track-#{track}", data: {toggle: 'collapse', parent: '#track-config'} %>
        </div>
        <div id="group-<%=track%>" class="panel-body collapse-in">
          <%= render "track_#{track}", f: ff, track: track, klass: klass %>
        </div>

      <% end %>
    <% end %>
  </div>

  <%= f.submit _('Save') %>
<% end %>

