<%
  display_delivery_settings = @settings.delivery ? 'auto' : 'none'
%>

<h1> <%= _('Basket options') %> </h1>

<%= form_for :settings, url: {action: 'edit'}, html: {method: 'post'} do |f| %>

  <%= labelled_form_field _('Enable shopping basket'), f.check_box(:enabled) %>

  <fieldset id='delivery_settings' style="display: <%= display_delivery_settings %>">
    <label><%=_('Deliveries or pickups')%></label>
    <%= render 'delivery_plugin/admin_method/index' %>
  </fieldset>

  <div>
    <%= submit_button(:save, _('Save')) %>
    <%= button :back, _('Back to control panel'), controller: 'profile_editor' %>
  </div>

<% end %>

<%= javascript_include_tag '../plugins/shopping_cart/edit' %>
