  <% if @products.empty? %>
    <%=  _("We don't have products to show..") %>
     <% else %>
    <div class="box_index product_box">
      <div class="cleaner"></div>
      <div class="box_fields"><div class='status'><%=_('Status')%></div></div>
      <div class="box_fields"><div class='category'><%=_('Category')%></div></div>
      <div class="box_fields"><div class='supplier'><%=_('Supplier')%></div></div>
      <div class="box_fields"><div class='product'><%=_('Product')%></div></div>
      <div class="box_fields"><div class='price'><%=_('price')%></div></div>
      <div class="box_fields"><div class='stock'><%=_('avai. qtt')%></div></div>
      <div class="cleaner"></div>
    </div>

    <%= render :partial => "our_product", :collection => @products %>
  <% end %>

