<div class="admin-page">
  <h1><%=_('Our commercialized products')%></h1>
  <div class="subtitle_ourproducts">
  <%= _("Here are listed all the products with which your collective works.
   Here, it's possible to add and remove products, besides desactivating 
  temporarily your commercialization in the Order Sections.") %>
  </div>
  
  <h4><%= _("Default margin of visualization") %></h4>
  <div class="subtitle_ourproducts">
    <%= _("This margin is automatically applied in all the products, but
   it is possible to stabilish specific margins for certain products.") %>
  </div>
  
  <span class='percentage'>18% </span><a href=''>mudar</a>
  <h3><%= _('The products')%></h3>
  
  <div><%= link_to_remote(_('Add product'), 
                          :url => {:controller => 'distribution_plugin_product',
                            :action => "add",
                            :id => @node,}
                         ) 
                       %>
  </div>
  <%= form_remote_tag :url => {:profile => params['profile']} -%>
  <div class="filter_fields">
    <h3><%= _("Filter") %></h3>
    <div class="cleaner"></div>
    <div class="box_fields">
      <div class="supplier">
        <div><%=_('show products from') %></div>
        <div>
          <%= select_tag :supplier, options_for_select(@suppliers.map { 
            |s| [s.profile.name, s.id] }.insert(0,[_("all the suppliers"),""])),
            {:onchange => "this.form.onsubmit()"}
          %>
        </div>
      </div>
    </div>
    <div class="box_fields">
      <div class="category">
        <div><%= _(' with  the category ') %></div>
        <div><%= select_tag :product_category, options_for_select(@product_categories.map{
          |pc| [pc.name, pc.id]}.insert(0,[_("all the categories"),""])),
          {:onchange => "this.form.onsubmit()"}
          %></div>
      </div>
    </div>
    <div class="box_fields">
      <div class="qualifier">
        <div><%= _(' with the qualifiers ') %></div>
        <div><%= select_tag :qualifiers , options_for_select([_('anyone'), _('quais?')]) %></div>
      </div>
    </div>
    <div class="box_fields">
      <div class="name">
          <div><%= _(' whose name contains ') %></div>
        <div><%= text_field_tag :name, "", :onchange => "this.form.onsubmit()"
          %></div>
      </div>
    </div>
    <div class="box_fields">
      <div class="state">
        <div><%= _(' and being ') %></div>
        <div><%= select_tag :active , options_for_select([[_("In any state"), ""],[ _('active'), 'true'],[ _('inactive'), 'false']]),
          {:onchange => "this.form.onsubmit()"}
          %></div>
      </div>
    </div>
      <div class="cleaner"></div>
  </div>
  
  <div id="total_products"><%= render :partial => "total_products"%></div>

  <div id="our_products_box">
    <%= render :partial => "our_products_box" %>
  </div>
</div>
