<div class="session">
  <div class='happening alignment'><%= _('Happening') %></div>
  <div class='info alignment'>
    <h2>
      <%= _('Orders open: <b>%{session}</b>') % {:session => session.name_with_code} %>
    </h2>

    <table>
      <tr>
        <td class='first-column'>
          <%= render :partial => 'distribution_plugin_session/view_dates',
            :locals => {:session => session, :happening => false} %>
        </td>
        <td class='second-column'>
          <div class="subtitle"><%= session.description %></div>
        </td>
        <td class='third-column'>
          <%= button_to _("see orders' cycle"), {:controller => :distribution_plugin_order, :action => :edit, :session_id => session.id} %>
          <%# button_to _("place an order"), {:controller => :distribution_plugin_order, :action => :new, :session_id => session.id} %>
          <div class='cleaner'></div>
        </td>
      <tr>
    </table>
  </div>
</div>
