<div class="session">
  <div class='happening alignment'><%= t('distribution_plugin.views.gadgets._session.happening') %></div>
  <div class='info alignment'>
    <h2>
      <%= t('distribution_plugin.views.gadgets._session.orders_open_b_session') % {:session => session.name_with_code} %>
    </h2>

    <table>
      <tr>
        <td class='first-column'>
          <%= render :partial => 'distribution_plugin_session/view_dates',
            :locals => {:session => session, :happening => false} %>
        </td>
        <td class='second-column'>
          <div class="subtitle"><%= session.description %></div>
        </td>
        <td class='third-column'>
          <%= button_to t('distribution_plugin.views.gadgets._session.see_orders_cycle'), {:controller => :distribution_plugin_order, :action => :edit, :session_id => session.id} %>
          <%# button_to t('distribution_plugin.views.gadgets._session.place_an_order'), {:controller => :distribution_plugin_order, :action => :new, :session_id => session.id} %>
          <div class='clean'></div>
        </td>
      <tr>
    </table>
  </div>
</div>
