
<% if categories %>
  <%= breadcrumb(category) if params[:level] %>

  <div class='l-sidebar-left-bar'>
    <ul>
      <%= content_tag('li', link_to(_('Homepage'), profile.url), :class => 'catalog-categories-link') %>
      <%= content_tag('li', link_to(_('Catalog start'), profile.catalog_url), :class => 'catalog-categories-link') %>
      <% if categories.present? %>
        <% categories.each do |category| %>
          <%= category_link(category) %>
          <%= category_sub_links(category) %>
        <% end %>
      <% elsif category.present? %>
        <%= content_tag('li', _('There are no sub-categories for %s') % category.name, :id => 'catalog-categories-notice') %>
      <% else %>
        <%= content_tag('li', _('There are no categories available.'), :id => 'catalog-categories-notice') %>
      <% end %>
    </ul>
  </div>
<% end %>

