<%= form_tag({:controller => :catalog, :action => :index}, :onsubmit => 'return catalog.search.submit()', :method => 'get', :id => 'catalog-search') do %>

  <%= hidden_field_tag :page, '' %>

  <div id="catalog-options">
    <ul>

      <%= plugins_catalog_search_extras_begin %>

      <% if @categories.length > 0 %>
        <li class="catalog-filter-categories">
          <div class="catalog-options-select">
            <%= select_tag :category, options_for_select([[_('Categories'), '']] + @categories, params[:category]),
              :onkeydown => 'catalog.categories.select()', :onchange => 'catalog.categories.select()'  %>
          </div>
        </li>
      <% end %>
      <% if @qualifiers.length > 0 %>
        <li class="catalog-filter-qualifiers">
          <div class="catalog-options-select">
            <%= select_tag :qualifier, options_for_select([[_('Qualifiers'), '']] + @qualifiers, params[:qualifier]),
              :onkeydown => 'catalog.qualifiers.select()', :onchange => 'catalog.qualifiers.select()'  %>
          </div>
        </li>
      <% end %>

      <li class="catalog-search">
        <%= text_field_tag :query, '', :placeholder => _('type your search'), :id => 'catalog-search-input' %>
      </li>

      <%= plugins_catalog_search_extras_end %>
    </ul>
  </div>
<% end %>
