<%= form_tag({:controller => :catalog, :action => :index}, :onsubmit => 'return catalog.search.submit()', :method => 'get', :id => 'catalog-search') do %>

  <%= hidden_field_tag :page, '' %>

  <div id="catalog-options">
    <ul>

      <%= plugins_catalog_search_extras_begin %>

      <li class="catalog-filter-categories">
	      <% if @categories.length > 0 %>
          <div class="catalog-options-select">
            <%= select_tag :category, options_for_select([[_('All categories'), '']] + @categories, params[:category]),
              :onkeydown => 'catalog.categories.select()', :onchange => 'catalog.categories.select()'  %>
          </div>
	      <% end %>
      </li>
      <li class="catalog-filter-qualifiers">
	      <% if @qualifiers.length > 0 %>
          <div class="catalog-options-select">
            <%= select_tag :qualifier, options_for_select([[_('All qualifiers'), '']] + @qualifiers, params[:qualifier]),
              :onkeydown => 'catalog.qualifiers.select()', :onchange => 'catalog.qualifiers.select()'  %>
          </div>
	      <% end %>
      </li>

      <li class="catalog-search">
        <%= text_field_tag :query, params[:query], :placeholder => _('type your search...'), :id => 'catalog-search-input' %>
      </li>

      <%= plugins_catalog_search_extras_end %>
    </ul>
  </div>
<% end %>
