<h2> <%= t('suppliers_plugin.views.supplier._new.title') %> </h2>

<% form_remote_tag :method => :get, :url => {:action => :enterprise_search, :profile => profile.identifier},
  :loading => "loading_overlay.show('#enterprises-results')", :loaded => "loading_overlay.hide('#enterprises-results');",
  :html => {:id => 'enterprise-search-form'} do %>

  <%= text_field_tag 'query', nil, :placeholder => t('suppliers_plugin.views.supplier._new.query_placeholder'),
    :onkeyup => 'suppliers.add.search(this)' %>

  <% unless @enterprises.nil? %>
    <% if @enterprises.empty? %>
      <%= t('suppliers_plugin.views.supplier._new.none_found') %>
    <% else %>
      <table id="enterprises-results">
        <% @enterprises.each do |enterprise| %>
          <tr>
            <%= render 'enterprise_result', :enterprise => enterprise %>
          </tr>
        <% end %>
      </table>

      <div id="suggest-creation">
        <div class="subtitle">
          <%= t('suppliers_plugin.views.supplier._new.suggest_creation') %>
        </div>

        <%= link_to_function t('suppliers_plugin.views.supplier._new.create_dummy'), 'suppliers.add.create_dummy();' %>
      </div>
    <% end %>
  <% end %>

<% end %>
