<% unless supplier.new_record? %>
  <div class='box-view'>
    <div class='supplier-logo'>
      <%= profile_image(supplier.profile, :minor) %>
    </div>

    <div class='supplier-body'>
      <div class="supplier-type subtitle">
        <%= supplier.dummy? ? t('distribution_plugin.views.supplier._supplier.supplier_with_registr') : t('distribution_plugin.views.supplier._supplier.registered_supplier_i') %>
      </div>

      <div class="supplier-name">
        <% if supplier.dummy? %>
          <%= supplier.name %>
        <% else %>
          <%= link_to_profile supplier.name, supplier.profile.identifier, :class => 'supplier-name' %>
        <% end %>
      </div>
      <% if supplier.name_abbreviation %>
        <div class="subtitle"><strong><%= t('distribution_plugin.views.supplier._supplier.abreviated_name') + '  ' %></strong><%= supplier.name_abbreviation %></div>
      <% end %>
      <p class="subtitle"><%= supplier.description %></p>

      <div class="subtitle"><strong><%= t('distribution_plugin.views.supplier._supplier.this_supplier_has') %></strong></div>
      <div class='supplier-products-count subtitle'>
        <% if supplier.node.products.unarchived.own.distributed.count > 0 %>
          <% msg = supplier.node.products.unarchived.own.distributed.count.to_s + " "%>
          <% msg += supplier.dummy? ? t('distribution_plugin.views.supplier._supplier.supplier_node_product') :
            t('distribution_plugin.views.supplier._supplier.products') %>

          <%= link_to msg, {:controller => :distribution_plugin_product, :action => :index, :supplier_id => supplier.id} %>

          <%= t('distribution_plugin.views.supplier._supplier.among_them') %>

          <% if supplier.dummy? %>
            <% msg = @node.products.unarchived.distributed.active.from_supplier(supplier).count.to_s +
              t('distribution_plugin.views.supplier._supplier.products_are_active') %>
          <% else %>
            <% msg = @node.products.unarchived.distributed.from_supplier(supplier).count + t('distribution_plugin.views.supplier._supplier.products_distributed') %>
          <% end %>
          <%= link_to msg, {:controller => :distribution_plugin_product, :action => :index, :supplier_id => supplier.id}, :class => 'supplier-distributed-products-count' %>
        <% else %>
          <%= t('distribution_plugin.views.supplier._supplier.any_registered_produc') %>
        <% end %>
      </div>
    </div>

    <div class='supplier-actions subtitle'>
      <div><strong><%= t('distribution_plugin.views.supplier._supplier.actions') %></strong></div>
      <div><%= link_to_function t('distribution_plugin.views.supplier._supplier.edit'), '', :class => 'toggle-edit' %></div>
      <div><%# link_to t('distribution_plugin.views.supplier._supplier.desactivate'), :url => {:controller => :suppliers_plugin_myprofile, :action => :desactivate, :id => supplier.id} %></div>
      <div><%= link_to_remote t('distribution_plugin.views.supplier._supplier.remove'), :url => {:controller => :suppliers_plugin_myprofile, :action => :destroy, :id => supplier.id},
        :confirm => t('distribution_plugin.views.supplier._supplier.by_removing_this_supp'), :class => 'supplier-remove' %></div>
      <div><%= link_to t('distribution_plugin.views.supplier._supplier.products'), {:controller => :distribution_plugin_product, :action => :index, :supplier_id => supplier.id, :anchor => 'filter-fields'} %></div>
      <div><%= link_to t('distribution_plugin.views.supplier._supplier.add_products'), {:controller => :distribution_plugin_product, :action => :index, :supplier_id => supplier.id, :anchor => 'our-product-add'} %></div>
    </div>

    <div class="cleaner"></div>
  </div>
<% end %>

<div class='box-edit'>
  <%= render :partial => 'edit', :locals => {:supplier => supplier} %>
</div>

<div class="cleaner"></div>
