<%= form_for supplier, remote: true, :url => {:controller => :suppliers_plugin_myprofile, :action => :edit, :id => supplier ? supplier.id : nil}, html: {id: "supplier_#{supplier.id}", data: { loading: "#supplier-#{supplier.id}')"} } do |f| %>
    <%# check_box_tag "supplier_id", supplier.id, false, {:class => 'supplier-cb', :id => 'supplier-cb-'+supplier.id.to_s} %>
    <%= link_to '<div class="action-hide"></div> <div class="action-show"></div>', "#", {:class => "actions-circle"} %>
    <div class="head-row">
      <div class="box head">
        <div class='entity-logo'>
          <%= link_to profile_image(supplier.profile, :minor), supplier.profile.url, :target => '_blank' %>
        </div>
        <div class=info>
          <div class="name">
            <% if supplier.abbreviation_or_name.size > 25
                 name = supplier.abbreviation_or_name[0..23] + '..'
            else
              name = supplier.abbreviation_or_name
            end %>
          <%= link_to name, supplier.profile.url, :class => 'entity-name', :target => '_blank' %>
        </div>
        <div class=subtitle>
          <%= supplier.description %>
        </div>
      </div>
    </div>
    <div class="box properties">
      <h4 class=title><%= t('views.supplier._supplier.situation') %></h4>
      <div>
        <% status = supplier.dummy? ? t('views.supplier._supplier.collective') : t('views.supplier._supplier.collective') %>
        <%= t('views.supplier._supplier.contact_status', :status => status) %>
      </div>
      <div class="right <%= 'disabled' unless supplier.active? %>">
        <% status = supplier.active? ? t('views.supplier._supplier.active') : t('views.supplier._supplier.inactive') %>
        <%= t('views.supplier._supplier.distribution_status', :status => status) %>
      </div>
      <div class=clear></div>
      <div class=<%= "disabled" unless supplier.dummy? %>>
        <%= t('views.supplier._supplier.management_type', :type => t('views.supplier._supplier.collective'))%>
      </div>
      <div class=right>
        <% count = supplier.products.available.size.to_s %>
        <%= t('views.supplier._supplier.active_products', :count => count) %>
      </div>
    </div>
    <div class="box actions">
      <%= link_to t('views.supplier._supplier.edit'), {:controller => :manage_products, :action => :index, :profile => supplier.identifier},{:class => "action-button edit-button"} %>
      <%= link_to t('views.supplier._supplier.see_page'), {:controller => :manage_products, :action => :index, :profile => supplier.identifier},{:class => "action-button"} %>
      <%= link_to t('views.supplier._supplier.see_products'), {:controller => :manage_products, :action => :index, :profile => supplier.identifier},{:class => "action-button", :target => '_blank'} %>
      <%= link_to t('views.supplier._supplier.message'), {:controller => :manage_products, :action => :index, :profile => supplier.identifier},{:class => "action-button"} %>
    </div>
    <div class="clear"> </div>
  </div>
  <div class=more-info>
    <% if false %>
      <div class="box qualifiers size4">
        <h4 ><%= t('views.supplier._supplier.qualifiers') %></h4>
        <div class=edition>
          <%= f.text_field :qualifiers, :class => "qualifier" %>
        </div>
        <div class=view></div>
      </div>
      <div class="box markers size4">
        <h4><%= t('views.supplier._supplier.tags') %></h4>
        <div class=edition>
          <%= f.text_field :qualifiers, :class => "qualifier" %>
        </div>
        <div class=view>
          <% unless supplier.tags.blank? %>
            <% supplier.tags.split(',').each do |tag| %>
              <div class="token">
                <%= tag.strip %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% unless supplier.description.blank? %>
      <div class="box mini-description size4"><h4><%= t('views.supplier._supplier.minidescription') %></h4></div>
    <% end %>
    <div class="box cycles"><h4><%= t('views.supplier._supplier.cycles') %></h4></div>
    <% if supplier.use_strategic_info %>
      <div class="box strategic_info size4"><h4><%= t('views.supplier._supplier.strategic_info') %></h4></div>
      <div class="size1"> </div>
      <div class="size1"> </div>
      <div class="size1"> </div>
      <div class="size1"> </div>
      <div class="size1"> </div>
      <div class="size1"> </div>
      <div class="size1"> </div>
      <div class="size1"> </div>
    <% end %>
    <% if supplier.use_contact %>
      <div class="box contact size4"><h4><%= t('views.supplier._supplier.contact') %></h4></div>
      <div class="size1"> </div>
      <div class="size3"> </div>
    <% end %>
    <% if supplier.use_registry %>
      <div class="box register size4"><h4><%= t('views.supplier._supplier.register') %></h4></div>
      <div class="size1"> </div>
      <div class="size1"> </div>
      <div class="size3"> </div>
      <div class="size1-3"> </div>
      <div class="size1-3"> </div>
      <div class="size1-3"> </div>
    <% end %>
    <% if supplier.use_geolocalization %>
      <div class="box geolocalization size4"><h4><%= t('views.supplier._supplier.geolocalization') %></h4></div>
    <% end %>
    <div class="box save-row size4">
      <%= link_to t('views.supplier._supplier.cancel'), {}, :class => 'action-button cancel-button' %>
      <%= f.submit t('views.supplier._supplier.save'), :class => 'action-button save-button' %>
    </div>
    </div>
  <% end %>
