<div id="distribution-node-margin-change" class="distribution-plugin-popin">
  <h1><%= t('distribution_plugin.views.node.margins_change.change_default_margin') %></h1>

  <% form_remote_for :node, @node, :url => {:controller => :distribution_plugin_node, :action => :margins_change, :id => @node} do |f| %>

    <div>
      <%= t('distribution_plugin.views.node.margins_change.notice') %>
    </div>

    <%= labelled_field f, :margin_percentage, t('distribution_plugin.views.node.margins_change.new_margin'), f.text_field(:margin_percentage, :value => @node.margin_percentage_as_currency_number) + ' ' + t('distribution_plugin.views.node.margins_change.%') %>

    <div>
      <%= check_box_tag :apply_to_all, 1, false, :style => 'float: left'  %>
      <%= label_tag :apply_to_all, t('distribution_plugin.views.node.margins_change.apply_to_all'), :class => 'line-label' %>
    </div>

    <div>
      <%= check_box_tag :apply_to_open_sessions, 1, false, :style => 'float: left'  %>
      <%= label_tag :apply_to_open_sessions, t('distribution_plugin.views.node.margins_change.apply_to_open_sessions'), :class => 'line-label' %>
    </div>

    <div class="clean"></div>

    <%= submit_tag t('distribution_plugin.views.node.margins_change.confirm') %>
    <%= colorbox_close_link t('distribution_plugin.views.node.margins_change.cancel') %>
  <% end %>
</div>

