<div class="cleaner"></div>
<% if products_for_order_by_supplier.empty? %>
  <strong>Esta busca não retornou nenhum produto.</strong>
<% else %>
  <% products_for_order_by_supplier.each do |supplier, session_products| %>
    <div class="supplier-table">
      <div class="supplier"><%= supplier.name %></div>

      <div class="table-header">
        <div class="box-field product"><%=_('Product')%></div>
        <div class="box-field price-with-unit"><%=_('Price')%></div>
        <div class="box-field quantity"><%=_('Order qty')%></div>

        <div class="cleaner"></div>
      </div>

      <div class="table-content">
        <% session_products.each do |product| %>
          <div id="session-product-<%=product.id%>" class="order-session-product value-row" toggleedit="distribution.order_session_product_toggle();">
            <%= render :partial => "distribution_plugin_product/order_edit", :locals => {
              :product => product, :order => order, :ordered_product => order.blank? ? nil : order.products.find_by_session_product_id(product.id) } %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
