<div id="currency-wrap" class="currency-disassociate-dialog popin">

  <h2> <%= _("Disassociate currency '%{name}'") % {
    name: @currency.name_with_symbol,
  } %> </h2>

  <p>
    <%= _("This currency is now organized by your enterprise and potencially accepted by others enterprises and theirs products.") %>
  </p>
  <p>
    <%= _("Disassociating this currency mean you're not going to be responsible for it anymore. You may leave it orphan but it is recommended that you pass the organization to another enterprise.") %>
  </p>
  <p>
    <%= _("Please give the organization responsibility to other enterprises by finding them below or leave it blank to make this currency orphan.") %>
  </p>

  <%= form_tag action: :disassociate, id: @currency.id do %>

    <%= render partial: 'enterprise_search' %>

    <p>
      <%= check_box_tag 'keep_acceptance', '1', true %>
      <%= label_tag 'keep_acceptance', _('Still accept this currency') %>
    </p>

    <%= submit_tag _('Disassociate'), class: 'currency-action-button' %>
    <%= modal_close_button _('cancel') %>
  <% end %>
</div>
