<%= javascript_include_tag "edit-link-list.js" %>

<strong><%= _('Links') %></strong>
<div id='edit-link-list-block'>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <%= _('Icon') %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <%= _('Name') %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <%= _('Address') %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <%= _('Target') %>
    </div>
  </div>
  <div class="row" id="dropable-link-list">
    <% for link in @block.links do %>
        <%= render :partial => 'link_list_item', :locals => {:link => link} %>
    <% end %>
  </div>
  <input type="hidden" id="page_url" value="<%=url_for(:action=>'search_autocomplete')%>" />

  <div id="new-template">
    <% template_link = {'icon' => 'ok'} %>
    <%= render :partial => 'link_list_item', :locals => {:link => template_link} %>
  </div>
</div>

<%= button_to_function(:add, _('New link'),'add_new_link();' ) %>