<%= form_for delivery_method, as: :delivery_method,
  url: {controller: 'delivery_plugin/admin_method', action: delivery_method.new_record? ? :new : :edit, id: delivery_method.id},
  html: {onsubmit: 'return delivery.method.save(this)'} do |f| %>

  <%= error_messages_for :delivery_method %>

  <%= labelled_field f, :delivery_type, t('delivery_plugin.models.method.delivery_type'),
    f.select(:delivery_type, DeliveryPlugin::Method::Types.map{ |t| [t("delivery_plugin.models.method.#{t}"), t] },
             onchange: 'delivery.method.changeType(this)', onkeyup: 'this.onchange()') %>

  <%= labelled_field f, :name, t('delivery_plugin.models.method.name'), f.text_field(:name) %>
  <%= labelled_field f, :description, t('delivery_plugin.models.method.instructions'),
    f.text_area(:description, rows: 5), help: t('delivery_plugin.models.method.instructions_help') %>

  <%= labelled_field f, :fixed_cost, t('delivery_plugin.models.method.fixed_cost'), f.text_field(:fixed_cost) %>

  <%= labelled_field f, :free_over_price, t('delivery_plugin.models.method.free_over_price'), f.text_field(:free_over_price),
    help: t('delivery_plugin.models.method.free_over_price_help') %>

  <div>
    <%= submit_button :save, if delivery_method.new_record? then t('delivery_plugin.views.method.edit.add') else t('delivery_plugin.views.method.edit.save') end %>
    <%= link_to_function t('delivery_plugin.views.method.edit.back'), "delivery.method.view.toggle()" %>
  </div>
<% end %>

