<% if current_user.blank? %>
  <h1> <%= _('Login') %> </h1>
  <%= render 'account/login_form' %>
<% else %>

  <p>
    <%= _("The application %{application} wants permission to read the following informations:") % {
      :application => link_to(@auth.client.name, @auth.client.site, :target => '_blank')
    } %>
  </p>
  <ul>
    <% @auth.scopes.each do |scope| %>
      <li><%= _ OauthPlugin::NoosferoScopes[scope] %></li>
    <% end %>
  </ul>

  <%= form_tag :action => :allow do %>
    <%= submit_tag _('Allow') %>
    <%= link_to _('cancel'), @auth.client.site %>
  <% end %>
<% end %>
