<div id="signup-form-header">
  <div id='register-enterprise-box' class='signup-field-container'>
    <div class='help-text'>
    <h3><%= required check_box("register_enterprise", "box", {:checked => "checked", :class => "register-enterprise-box",
                        :onClick => "if (jQuery('.register-enterprise-box').is(':checked') == true){jQuery('.second-step').show();} else {jQuery('.second-step').hide();}"}) %>
                      <%= _('I want to register a new Enterprise!') %></h3>
    <%= _('If you want to register a new enterprise now, click on this box. If you enterprise is
          already registered, uncheck the box and ask the user that registered it to add you to the enterprise.')%>
    </div>
  </div>
</div>

<div class="signup-step second-step">
  <div id='signup-form-header'>

    <%# FIXME: put text in environment setting %>
    <div class='help-text'>
      Agora vamos cadastrar o espaço em que você vai mostrar suas ofertas
      para troca. Digite o nome do Ponto de Cultura, que pode ser o nome do
      seu coletivo, ou seu nome caso queira trocar individualmente. Complete
      os dados relativos ao Ponto de Cultura, caso sejam diferentes dos seus
      dados pessoais.
    </div>

    <% labelled_fields_for(:enterprise_data, @enterprise) do |f| %>
      <%= required f.text_field(:name, :rel => _('Enterprise name')) %>
      <%= render :partial => 'shared/organization_custom_fields', :locals => { :f => f, :object_name => :enterprise_data, :profile => @enterprise } %>
    <% end %>
  </div>
</div>

