<h1><%= h profile.name %></h1>
<h2><%=  _('Settings of Solidary Distribution Network') %></h2>

<div id="distribution-plugin-settings">
  <% form_for :node, @node, :url => {:controller => :distribution_plugin_node, :action => :settings, :profile => profile.identifier}, :html => {:multipart => true} do |f| %>
    <%= labelled_field f, :activated, _('Collective Consumption Mode'),
      labelled_radio(f, :role, _('Disabled'), 'consumer') +
      labelled_radio(f, :role, _('Activated'), 'collective') %>

      <%= labelled_field f, :name_abbreviation, _("Abbreviated name of the Collective"), f.text_field(:name_abbreviation),
        {:help => _("This name will be used to avoid always use the full name of the Collective. How the Collective is generally called by the people?")} %>

      <% radios = ''; @node.header_type ||= 'image_+_name' %>
      <% {'pure_color' => _("pure color + collective name"), 'image_+_name' => _('Image + collective name'), 'only_image' => _('Only the image')}.each do |key,header_text| %>
          <% radios = labelled_radio(f,:header_type, header_text, key) + radios%>
      <% end %>
      <%= labelled_field f, :header, _("Header Type"), radios %>

      <% f.fields_for :image_builder, @node.image do |fi| %>
        <%= labelled_field fi, :uploaded_data, _("Header's image"), fi.file_field(:uploaded_data, { :size => 10 }),
          {:help => _("This image will be used on the Collective's page, must be 1040x90px, " +
                      "it will be automatically cropped to this size.")} %>
      <% end %>

      <% radios = ''; @node.header_bg_color ||= 'purple' %>
      <% ['purple', 'yellow', 'beige', 'blue', 'petro', 'green'].each do |color| %>
        <% radios += f.radio_button :header_bg_color, color %>
        <% radios += "<div class='color-choose color-#{color}'></div><br />" %>
      <% end %>
      <%= labelled_field f, :b_color, _("Header background color"), radios %>

      <% @node.header_fg_color ||= 'black' %>
      <%= labelled_field f, :f_color, _('Text color'),
        labelled_radio (f, :header_fg_color, _('white'), 'white') +
        labelled_radio (f, :header_fg_color, _('black'), 'black') %>

      <%= f.submit _('Save') %>
      <%= link_to _('cancel'), {:controller => :profile_editor, :profile => profile.identifier} %>
  <% end %>
</div>
