<div class="session-name-and-code">
  <strong><%= t('distribution_plugin.views.session._brief.code') % {:code => session.code} %></strong>
  <%= link_to session.name, {:action => 'edit', :id => session.id } %>
  <%= t('distribution_plugin.views.session._brief.confirmed_orders', :count => session.orders.confirmed.count) %>
</div>

<div class="session-dates">
  <div class="session-date">
    <span class="field-title"><%= t('distribution_plugin.views.session._brief.orders') %></span>&emsp;
    <span><%= datetime_period_short(session.start, session.finish) %></span>
  </div>
  <div class="session-date">
    <span class="field-title"><%= t('distribution_plugin.views.session._brief.delivery') %></span>&emsp;
    <span><%= datetime_period_short(session.delivery_start, session.delivery_finish) %></span>
  </div>

  <div class="clean"></div>
</div>

<%= render :partial => 'timeline', :locals => {:session => session} if session.status != 'new' if timeline %>

