<h3><%= t('distribution_plugin.views.session._edit_fields.general_settings') %></h3>

<% form_remote_for :session, @session, :url => {:action => @session.new? ? :new : :edit, :id => @session.id } do |f| %>

  <%= labelled_field(f, :name, t('distribution_plugin.views.session._edit_fields.name'), f.text_field(:name), :class => 'session-field-name') %>
  <%= labelled_field(f, :description, t('distribution_plugin.views.session._edit_fields.description'), f.text_area(:description), :class => 'session-field-description') %>

  <div class="session-fields-block">
    <%= labelled_period_field(f, :start, :finish, t('distribution_plugin.views.session._edit_fields.orders_interval'), :class => 'session-orders-period') %>
  </div>
  <div class="session-fields-block">
    <%= labelled_period_field(f, :delivery_start, :delivery_finish, t('distribution_plugin.views.session._edit_fields.deliveries_interval'), :class => 'session-orders-period') %>
  </div>

  <div class="session-fields-block">
    <div id='session-delivery' class="field">
      <%= f.label(:delivery_methods, t('distribution_plugin.views.session._edit_fields.available_delivery_me')) %>

      <div>
        <div id='session-delivery-options' class="subtitle">
          <%= render :partial => 'delivery_plugin_option/index', :locals => {:owner => @session} %>
        </div>
        <%= colorbox_link_to t('distribution_plugin.views.session._edit_fields.add_method'), { :controller => :distribution_plugin_delivery_option, :action => :select, :owner_id => @session.id, :owner_type => @session.class.name }, :class => 'session-add-delivery-option subtitle'  %>
      </div>

      <div class="cleaner"></div>
    </div>
  </div>

  <div id="session-new-mail">
    <%= check_box_tag('sendmail', 'yes', false, :id => 'session-new-mail-send') %>
    <%= content_tag('label', t('distribution_plugin.views.session._edit_fields.notify_members_of_ope'), :for => 'sendmail') %>

    <div class='mail-message'>
      <%= f.label(:sendmail, t('distribution_plugin.views.session._edit_fields.opening_message')) %>
      <div><%=t('distribution_plugin.views.session._edit_fields.this_message_will_be_') %></div>
      <%= f.text_area(:opening_message) %>
    </div>
    <%= observe_field 'session-new-mail-send', :on => 'click', :function => "distribution.session_mail_message_toggle()" %>
  </div>
  <%= f.submit @session.new? ? t('distribution_plugin.views.session._edit_fields.create_new_cycle') : t('distribution_plugin.views.session._edit_fields.save'), :onclick => 'saveClick = true' %>
  <%= link_to t('distribution_plugin.views.session._edit_fields.cancel_changes'), @session.new? ? {:action => :index} : params %>
<% end %>

<%= javascript_include_tag '/plugins/distribution/jquery.calendrical.js' %>
<% javascript_tag do %>
  options = {isoTime: true}
  jQuery('#session_start_date, #session_start_time, #session_finish_date, #session_finish_time').calendricalDateTimeRange(options);
  jQuery('#session_delivery_start_date, #session_delivery_start_time, #session_delivery_finish_date, #session_delivery_finish_time').calendricalDateTimeRange(options);

  var saveClick = false;
  <% if @session.new? %>
    jQuery(window).bind('beforeunload', function () {
      if (!saveClick)
        jQuery.ajax({type: 'POST', async: false, url: '<%= url_for(:action => :destroy, :id => @session.id) %>'});
    });
  <% end %>
<% end %>
