<% if @session.passed_by?('edition') %>
  <%= render :partial => 'header', :object => t('distribution_plugin.views.session._edition.info') %>
<% end %>

<div id="session-fields">
  <%= render :partial => 'edit_fields' %>
</div>

<div id='session-products'>
  <div id="session-products-header">
    <h3><%= t('') %></h3>

    <div class="subtitle"><%= t('distribution_plugin.views.session._edition.the_following_list_of') %></div>
    <div class="subtitle"><%= t('distribution_plugin.views.session._edition.it_was_automatically_') %></div>
    <%= colorbox_link_to t('distribution_plugin.views.session._edition.add_product'), {:controller => :distribution_plugin_session, :action => :add_products, :id => @session.id}, :class => 'subtitle' %>
  </div>

  <div id="session-product-lines">
    <%= render :partial => 'product_lines', :locals => {:p => p} %>
  </div>

</div>

