<% if @session.passed_by?('edition') %>
  <%= render :partial => 'header', :object =>
    _('The edition time is gone and the cycle is already public. ' +
         'Actually, the cycle is in a supply call period.') + '<br /><br />' +
    _('It is still possible to edit some Cycle parameters through this page, however, ' +
      'beware of the risk. Some operations have different implications depending' +
      ' on the fase you are. When needed, you will be notified by a notification window ' +
      'of the consequences of the changes made.') %>
<% end %>

<div id="session-fields">
  <%= render :partial => 'edit_fields' %>
</div>

<div id='session-products'>
  <div id="session-products-header">
    <h3><%= _("The products") %></h3>

    <div class="subtitle"><%= _('The following list of products are available in this cycle.') %></div>
    <div class="subtitle"><%= _('It was automatically created from the active products. See the list below and check for needed changes.') %></div>
    <%= colorbox_link_to _('Add product'), {:controller => :distribution_plugin_session, :action => :add_products, :id => @session.id}, :class => 'subtitle' %>
  </div>

  <div class="box-align">
    <div class='table-header'>
      <span class='box-field category'><%= _('Category') %></span>
      <span class='box-field supplier'><%= _('Supplier') %></span>
      <span class='box-field name'><%= _('Product') %></span>
      <span class="box-field price"><%= _('Price') %></span>
      <span class="box-field quantity-available"><%= _('Qty. avail.') %></span>
      <span class="box-field actions"></span>

      <div class="cleaner"></div>
    </div>

    <div class='table-content'>
      <% @session.products.unarchived.each do |p| %>
        <div id="session-product-<%=p.id%>" class='session-product value-row' toggleedit="distribution.session_product_edit();">
          <%= render :partial => 'distribution_plugin_product/session_edit', :locals => {:p => p} %>
        </div>
      <% end %>
    </div>
  </div>

</div>

