<h3><%= _("General settings") %></h3>

<% form_remote_for :session, @session, :url => {:action => @session.new? ? :new : :edit, :id => @session.id } do |f| %>

  <%= labelled_field(f, :name, _('Name'), f.text_field(:name), :class => 'session-field-name') %>
  <%= labelled_field(f, :description, _('Description'), f.text_area(:description), :class => 'session-field-description') %>

  <%= labelled_period_field(f, :start, :finish, _('Orders period'), :class => 'session-orders-period') %>
  <%= labelled_period_field(f, :delivery_start, :delivery_finish, _('Delivery period'), :class => 'session-orders-period') %>

  <div id='session-delivery' class="field">
    <%= f.label(:delivery_methods, _('Available delivery methods')) %>

    <div>
      <div id='session-delivery-options' class="subtitle">
        <%= render :partial => 'distribution_plugin_delivery_option/index' %>
      </div>
      <%= lightbox_link_to _('Add method'), { :controller => :distribution_plugin_delivery_option, :action => "select", :session_id => @session.id }, :class => 'session-add-delivery-option subtitle'  %>
    </div>

    <div class="cleaner"></div>
  </div>

  <%= f.submit @session.new? ? _('Create new cycle') : _('Save'), :onclick => 'saveClick = true; loadLightbox(this);' %>
  <%= link_to _('cancel changes'), @session.new? ? {:action => :index} : params %>
<% end %>

<%= javascript_include_tag '/plugins/distribution/public/jquery.calendrical.js' %>
<% javascript_tag do %>
  options = {isoTime: true}
  jQuery('#session_start_date, #session_start_time, #session_finish_date, #session_finish_time').calendricalDateTimeRange(options);
  jQuery('#session_delivery_start_date, #session_delivery_start_time, #session_delivery_finish_date, #session_delivery_finish_time').calendricalDateTimeRange(options);

  var saveClick = false;
  <% if @session.new? %>
    jQuery(window).bind('beforeunload', function () {
      if (!saveClick)
        jQuery.ajax({type: 'POST', async: false, url: '<%= url_for(:action => :destroy, :id => @session.id) %>'});
    });
  <% end %>
<% end %>
