<% if orders.count == 0 %>
  <div class="subtitle"><%= t('distribution_plugin.views.session._orders_view.no_orders_to_show') %></div>
<% else %>
  <div class='table-header'>
    <span class='box-field code'><%= t('distribution_plugin.views.session._orders_view.code') %></span>
    <span class='box-field member'><%= t('distribution_plugin.views.session._orders_view.member') %></span>
    <span class='box-field created'><%= t('distribution_plugin.views.session._orders_view.created') %></span>
    <span class='box-field modified'><%= t('distribution_plugin.views.session._orders_view.modified') %></span>
    <span class='box-field products-count'><%= t('distribution_plugin.views.session._orders_view.prod_qty') %></span>
    <span class='box-field price'><%= t('distribution_plugin.views.session._orders_view.value') %></span>

    <div class="cleaner"></div>
  </div>

  <div class='table-content'>
    <% orders.each do |order| %>
      <div id="in-session-order-<%=order.id%>" class="in-session-order value-row" toggleedit="distribution.in_session_order_toggle_edit();">
        <%= render :partial => 'distribution_plugin_order/session_edit', :locals => {:order => order} %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="cleaner"></div>
