<% if @session.orders? or @session.passed_by?('orders') %>
  <% if @session.orders? %>
    <% header = t('distribution_plugin.views.session._orders.the_orders_period_is_') %>
  <% elsif @session.passed_by?('orders') %>
    <% header = t('distribution_plugin.views.session._orders.already_closed') %>
  <% end %>
<% end %>

<div id='session-orders'>
  <h3><%= t('distribution_plugin.views.session._orders.the_orders') %></h3>

  <div id='session-orders-draft' class="session-orders box-align">
    <div class="order-header">
      <span class="order-label">
        <%= (@session.orders? ? t('distribution_plugin.views.session._orders.open_orders_count') : t('distribution_plugin.views.session._orders.cancelled_orders_coun')) % {:count => @session.orders.draft.count} %>
      </span>

      <%= edit_arrow "#", false, :onclick => 'distribution.in_session_order_toggle(this); return false;', :class => "box-field" %>
      <div class="line"></div>
    </div>

    <div class="order-content" style="display: none">
      <%= render :partial => 'orders_view', :locals => {:orders => @session.orders.draft} %>
    </div>

    <div class="cleaner"></div>
  </div>

  <div id='session-orders-confirmed' class="session-orders box-align show">
    <div class="order-header">
      <span class="order-label"><%= t('distribution_plugin.views.session._orders.closed_orders_count') % {:count => @session.orders.confirmed.count} %></span>

      <%= edit_arrow "#", false, :onclick => 'distribution.in_session_order_toggle(this); return false;', :class => "box-field edit" %>
      <div class="line"></div>
    </div>
    <div class="order-content">
      <%= render :partial => 'orders_view', :locals => {:orders => @session.orders.confirmed} %>
    </div>

    <div class="cleaner"></div>
  </div>

  <div class="cleaner"></div>
</div>

<div id='session-products-sums'>
  <%= render :partial => 'orders_suppliers', :locals => {:session => @session} %>
</div>
