<div class="session-timeline box-align">
  <% urls = [
      [t('distribution_plugin.views.session._timeline.edition'), 'edition'],
      #[t('distribution_plugin.views.session._timeline.call'), 'call'],
      [t('distribution_plugin.views.session._timeline.orders'), 'orders'],
      #[t('distribution_plugin.views.session._timeline.parcels'), 'parcels'],
      #[t('distribution_plugin.views.session._timeline.redistribution'), 'redistribution'],
      #[t('distribution_plugin.views.session._timeline.delivery'), 'delivery'],
      #[t('distribution_plugin.views.session._timeline.close'), 'close'],
    ]
  %>
  <% view = params[:view] || session.status %>

  <div>
    <% urls.each do |name, status| %>
      <% klass = "session-timeline-item #{timeline_class(session, status, view)}" %>
      <% if session.passed_by?(status) or session.status == status %>
        <%= link_to name, params.merge(:action => :edit, :id => session.id, :view => status), :class => klass %>
      <% else %>
        <span class="<%=klass%>"><%= name %></span>
      <% end %>
    <% end %>
  </div>

  <%
    actions = {
      :edition => [
      ],
      :orders => [
        [ t('distribution_plugin.views.session._timeline.spreadsheet_with_the_'), {:action => :report_orders, :id => session.id} ],
        [ t('distribution_plugin.views.session._timeline.spreadsheet_with_prod'), {:action => :report_products, :id => session.id} ],
      ],
      :closed => [
      ]
    }
    actions[:edition].unshift [ t('distribution_plugin.views.session._timeline.finish_cycle_editing'), {:action => :step, :id => session.id, :method => :post},
      { :id => 'session-open-session' } ] unless session.passed_by?('edition')
    actions[:orders].unshift [ session.orders? ? t('distribution_plugin.views.session._timeline.block_orders_period') : t('distribution_plugin.views.session._timeline.close_orders_period'),
      {:action => :step, :id => session.id, :method => :post}, { :id => 'session-open-session' , :confirm => t('distribution_plugin.views.session._timeline.are_you_sure_you_want')} ] unless session.passed_by?('orders')
    actions[:closed].unshift [  t('distribution_plugin.views.session._timeline.reopen_orders_period'),
      {:action => :step_back, :id => session.id, :method => :post}, { :id => 'session-open-session' , :confirm => t('distribution_plugin.views.session._timeline.are_you_sure_you_want')} ] if session.passed_by?('orders')

  %>

  <% unless actions[view.to_sym].blank? %>
    <div class="actions-bar">
      <% actions[view.to_sym].each do |args| %>
        <%= link_to *args %>
      <% end %>
      <strong><%= t('distribution_plugin.views.session._timeline.actions') %></strong>

      <div class="clean"></div>
    </div>
  <% end %>

  <div class="clean"></div>
</div>
