<% happening = true if !defined?(happening) or happening.nil? %>

<table id='session-dates'>
  <tr class="orders-date <%= "happening" if happening and session.orders? %>">
    <th>
      <% if happening %>
        <span class='happening'><%= _("Happening") if session.orders? %></span>
      <% end %>
      <strong><%= _("Orders: ") %>&emsp;</strong>
    </th>
    <td>
      <%= datetime_period_with_day session.start, session.finish %>
    </td>
  </tr>

  <tr class="delivery-date">
    <th>
      <strong><%=_("Delivery: ") %>&emsp;</strong>
    </th>
    <td>
      <%= datetime_period_with_day session.delivery_start, session.delivery_finish %>
    </td>
  </tr>
</table>
