<% happening = true if !defined?(happening) or happening.nil? %>

<table id='session-dates'>
  <tr class="orders-date <%= "happening" if happening and session.orders? %>">
    <th>
      <strong><%= t('distribution_plugin.views.session._view_dates.orders') %>&emsp;</strong>
    </th>
    <td>
      <%= datetime_period_with_day session.start, session.finish %>
    </td>
    <% if happening and session.orders? %>
      <td class='happening'> <%= t('distribution_plugin.views.session._view_dates.happening') %> </td>
    <% end %>
  </tr>

  <tr class="delivery-date">
    <th>
      <strong><%=t('distribution_plugin.views.session._view_dates.delivery') %>&emsp;</strong>
    </th>
    <td>
      <%= datetime_period_with_day session.delivery_start, session.delivery_finish %>
    </td>
  </tr>
</table>
