<div class="orders-date <%= "active" if session.orders? %>">
  <span><%= _("Happening") if session.orders? %></span>
  <strong><%= _("Orders: ") %></strong>
  &emsp;<%= datetime_period_with_day session.start, session.finish %>
</div>

<div class="delivery-date">
  <strong><%=_("Delivery: ") %></strong>
  &emsp;<%= datetime_period_with_day session.delivery_start, session.delivery_finish %>
</div>
