<div id="suppliers-page" class="admin-page">
  <h2><%= _('Suppliers') %></h2>

  <div class="subtitle text-wrap">
    <%= _('This is the list of suppliers associated to this consumption collective. It is possible to associate with existent suppliers or register one.') %>
  </div>

  <div class="subtitle supplier-add-link"><%= link_to _('Add supplier'), '#supplier-add', :onclick => 'distribution_supplier_add_link();', :class => 'toggle-edit' %></div>

  
  <div id="filter-fields" class="filter-box">
    <strong><%= _("Filter") %></strong>
    <div class="box-field name">
      <div><%= _('Name') %></div>
      <div><%= text_field_tag :name, params[:name] %></div>
      <%= observe_field 'name', :url => {:action => 'index'}, :frequency => 1.0,
        :update => 'suppliers-list', :with => "'name=' + $('name').value" %>
    </div>
    <div class="cleaner"></div>
  </div>

  <div class="supplier-listing box-align">
    <div id="supplier-add" class="supplier value-row" toggleedit='distribution_supplier_toggle_edit();' >
      <%= render :partial => 'supplier', :object => @new_supplier %>
    </div>

    <div id="suppliers-list">
      <%= render :partial => 'suppliers_list', :locals => { :suppliers => @suppliers} %>
    </div>
  </div>
</div>
