<h1><%= t("fbes_plugin.views.queries.#{params[:action]}") %></h1>
<p>Total de <%= @fbes_plugin_result_full_count %> resultados. Página <%= @fbes_plugin_page %> de <%= @fbes_plugin_result_pages %>.</p>
<br />
<%= button(:back, 'Voltar à lista de estatísticas', 'http://cirandas.net/plugin/fbes/queries') %>
<br class="clean" /><br />
  <table class='table'>
    <tr>
      <% @fbes_plugin_result.first.keys.each do |header| %>
        <% if !['profile_id', 'id', 'full_count'].include?(header) %>
          <th><%= header %></th>
        <% end %>
      <% end %>
    </tr>
    <% @fbes_plugin_result.each do |line| %>
      <tr>
        <% line.each do |value| %>
          <% if !['profile_id', 'id', 'full_count'].include?(value[0]) %>
            <td>
              <%= case value[0]
                when 'url', 'site'
                  link_to(value[1], value[1], :target => "_blank")
                when 'mes'
                  Date.parse(value[1]+'-01').strftime("%b/%Y")
                when 'total_pedidos'
                  number_to_currency(value[1], {locale: :pt_BR, precision: 2, separator: ',', delimiter: '.'})
                when 'page_id'
                  link_to(value[1], "https://www.facebook.com/pages/_/#{value[1]}?sk=app_231071397085577", :target => "_blank")
                else
                  value[1]
                end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
