<div class="menu-header"><%= t('consumers_coop_plugin.views.layouts._header.collective_consumptio') %></div>

<% style = (profile.consumers_coop_header_image and profile.consumers_coop_settings.header_type != 'pure_color') ? "style=\"background-image: url('" + profile.consumers_coop_header_image.public_filename + "');\" " : ""  %>
<% color = profile.consumers_coop_settings.header_bg_color ? "color-"+profile.consumers_coop_settings.header_bg_color.to_s : " " %>

<div class="menu-logo <%=  color + '" ' + style %>">
  <% fg_color = (profile.consumers_coop_settings.header_fg_color.nil?) ? "" : "color: #{profile.consumers_coop_settings.header_fg_color}" %>
  <div id="menu-title" style="<%= fg_color %>" ><%= profile.name unless profile.consumers_coop_settings.header_type == 'only_image' %></div>
</div>

<div class="menu-button-container">
  <%= display_header_buttons %>
</div>
