<div id="orders-repeat" class="popin">

  <h1>
    <%= t('views.public.repeat.heading') %>
  </h1>

  <% if @orders.size == 0 %>
  <% else %>
    <div class="subtitle">
      <%= t('views.public.repeat.help') %>
    </div>

    <div class='sortable-table'>
      <div class='table-header'>
        <span class="box-field actions"></span>
        <span class='box-field date'><%= t('views.public.repeat.date') %></span> <span class='box-field items'><%= t('views.public.repeat.ordered_itens') %></span>
        <span class='box-field value'><%= t('views.item._index.price_total') % {currency: environment.currency_unit} %></span>
      </div>
      <div class='table-content'>
        <% @orders.each do |order| %>
          <div id="order-<%=order.id%>" class='order-to-repeat value-row' toggle-edit="orders_cycle.offered_product.edit();">
            <div class="box-view">
              <span class="box-field actions">
                <%= edit_arrow_circle "", false, :onclick => 'return false;'  %>
                <%= repeat_checkout_order_button order %>
                <%= repeat_choose_order_button order %>
              </span>

              <span class='box-field date'><%= l order.created_at, format: :short %></span>
              <span class='box-field items'><%= order.items_summary %></span>
              <span class='box-field value'><%= order.total_price_consumer_ordered_as_currency_number %></span>
            </div>
            <div class='box-edit' style="display: none">
              <%= render 'orders_plugin_order/show_simple', order: order %>
            </div>
          </div>
        <% end %>
      </div>
    </table>

    <% unless user %>
      <%= button 'remove', t('views.public.repeat.clear_orders_session'), {action: :clear_orders_session, profile_id: params[:profile_id]}, remote: true, :class => 'clear-orders-session' %>
    <% end %>

  <% end %>
</div>
