<h1><%= h profile.name %></h1>
<h2><%=  t('consumers_coop_plugin.views.node.settings.settings_of_solidary_') %></h2>

<div id="distribution-plugin-settings">
  <% form_for :node, @node, :url => {:controller => :consumers_coop_plugin_node, :action => :settings, :profile => profile.identifier}, :html => {:multipart => true} do |f| %>
    <%= labelled_field f, :activated, t('consumers_coop_plugin.views.node.settings.collective_consumptio'),
      labelled_radio(f, :role, t('consumers_coop_plugin.views.node.settings.disabled'), 'consumer') +
      labelled_radio(f, :role, t('consumers_coop_plugin.views.node.settings.activated'), 'collective') %>

      <%= labelled_field f, :name_abbreviation, t('consumers_coop_plugin.views.node.settings.abbreviated_name_of_t'), f.text_field(:name_abbreviation),
        {:help => t('consumers_coop_plugin.views.node.settings.this_name_will_be_use')} %>

      <% radios = ''; @node.header_type ||= 'image_+_name' %>
      <% {'pure_color' => t('consumers_coop_plugin.views.node.settings.pure_color_collective'), 'image_+_name' => t('consumers_coop_plugin.views.node.settings.image_collective_name'), 'only_image' => t('consumers_coop_plugin.views.node.settings.only_the_image')}.each do |key,header_text| %>
          <% radios = labelled_radio(f,:header_type, header_text, key) + radios%>
      <% end %>
      <%= labelled_field f, :header, t('consumers_coop_plugin.views.node.settings.header_type'), radios %>

      <% f.fields_for :image_builder, @node.image do |fi| %>
        <%= labelled_field fi, :uploaded_data, t('consumers_coop_plugin.views.node.settings.header_s_image'), fi.file_field(:uploaded_data, { :size => 10 }),
          {:help => t('consumers_coop_plugin.views.node.settings.image_help')} %>
      <% end %>

      <div id=distribution-header-bg-color>
        <% radios = ''; @node.header_bg_color ||= 'purple' %>
        <% ['purple', 'yellow', 'beige', 'blue', 'petro', 'green'].each do |color| %>
          <% radios += f.radio_button :header_bg_color, color %>
          <% radios += "<div class='color-choose color-#{color}'></div><br />" %>
        <% end %>
        <%= labelled_field f, :b_color, t('consumers_coop_plugin.views.node.settings.header_background_col'), radios %>
      </div>

      <% @node.header_fg_color ||= 'black' %>
      <%= labelled_field f, :f_color, t('consumers_coop_plugin.views.node.settings.text_color'),
        labelled_radio(f, :header_fg_color, t('consumers_coop_plugin.views.node.settings.white'), 'white') +
        labelled_radio(f, :header_fg_color, t('consumers_coop_plugin.views.node.settings.black'), 'black') %>

      <%= f.submit t('consumers_coop_plugin.views.node.settings.save') %>
      <%= link_to t('consumers_coop_plugin.views.node.settings.cancel'), {:controller => :profile_editor, :profile => profile.identifier} %>
  <% end %>
</div>

<% javascript_tag do %>
  jQuery('input[name=node\\[header_type\\]]').click(function() {
  distribution.toggle_header_color_area($(this));
  });
  distribution.toggle_header_color_area(jQuery('input[name=node\\[header_type\\]]:checked')[0]);
<% end %>
