<% if @block_bot %>
  <div class="atention" style="font-size: 150%;">
    <strong><%=_('Are you a robot?')%></strong> <br />
    <%=_('Please, prove that you are human by filling the captcha.')%>
  </div>
<% end %>

<% @profile_data = @person %>

<%= error_messages_for :user, :person, :header_message => _('The account could not be created') %>

<%= labelled_form_for :user, :html => { :multipart => true, :id => 'signup-form', :honeypot => true } do |f| %>

  <input type="hidden" id="signup_time_key" name="signup_time_key" />
  <script type="text/javascript">
    jQuery.ajax({
      type: "POST",
      url: "<%= url_for :controller=>'account', :action=>'signup_time' %>",
      dataType: 'json',
      success: function(data) {
        if (data.ok) jQuery('#signup_time_key').val(data.key);
      }
    });
  </script>

  <%= render :partial => 'signup_form', :locals => {:f => f} %>

  <%= recaptcha_tags :ajax => true, :display => {:theme => 'clean'} if @block_bot %>

  <p style="text-align: center">
    <%= submit_button('save', _('Create my account')) %>
  </p>

<% end -%>

