<% @exchange_happened_array = [["Sim",0],["Parcialmente (fizemos nossa parte, o outro lado n찾o)",1],
     ["Parcialmente (o outro lado fez sua parte, n처s n찾o)",2],["N찾o",3]] %>

<p><%= _('Evaluation done by %{evaluator} at %{time}') % 
          {:evaluator => evaluation.evaluator.name, 
           :time => evaluation.created_at.strftime("%d/%m/%Y @ %H:%Mh")} 
%></p>

<% if evaluation.evaluator == profile %>
<div class="eva-plg-thumb">
  <%= link_to profile_image(profile, :minor) +"\n", profile.url %>
</div>
<% end %>

<div id="exc-plg-evaluation-text">
  <p>
    <%= evaluation.text %>
  </p>
  <div id="exc-plg-evaluation-footer">
    <div id="exc-plg-score">
      <h5><%= _('Score') %></h5>
      <%= evaluation.score %>
    </div>
    <div id="exc-plg-exchange_result">
      <h5><%= _('The exchange happened?') %></h5>
        <%= @exchange_happened_array[evaluation.result.to_i][0] %>
    </div>
  </div>
</div>

<% if evaluation.evaluator != profile %>
<div class="eva-plg-thumb" style="float:right">
  <%= link_to profile_image(evaluation.evaluator, :minor) +"\n", profile.url %>
</div>
<% end %>
