<h2> <%= t('views.node.create.context') % {:name => @node.name} %> </h2>

<% form_remote_for :node, @new_node, :url => {:action => :associate},
  :loading => "loading_overlay.show('#networks-node-associate')", :loaded => "loading_overlay.hide('#networks-node-associate')" do |f| %>
  <%= error_messages_for :new_node %>

  <%= hidden_field_tag :id, @node.id %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit t('views.node.create.new_button') %>
<% end %>

