<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
      <%= render :file => "#{Rails.root}/plugins/orders/public/stylesheets/orders.css" %>
    </style>
  </head>

  <body>
    <p>
      <%= t('orders_plugin.views.mailer.order_confirmation.dear_name') % {:name => @consumer.name} %>
    </p>

    <p>
      <%= t('orders_plugin.views.mailer.order_confirmation.your_order_made_on_co') % {
        :name => @profile.name, :date => day_time(@order.updated_at)
      } %>
    </p>

    <% if @order.respond_to? :cycle %>
      <p>
        <%= t('orders_plugin.views.mailer.order_confirmation.the_delivery_period_w') % {
          :date => datetime_period_with_from(@order.cycle.delivery_start, @order.cycle.delivery_finish)
        } %>
      </p>
    <% end %>

    <p>
      <% if @order.supplier_delivery_data.present? %>
        <p><%= t('orders_plugin.views.mailer.order_confirmation.attention_to_the_foll') %></p>
        <b><%= @order.supplier_delivery_data[:name] %></b><br />
        <%= @order.supplier_delivery_data[:description] %><br />
      <% end %>
    </p>

    <p><%= t('orders_plugin.views.mailer.order_confirmation.order_data_confirmed') %></p>

    <div id="order-<%=@order.id%>" class="order-box">
      <%= render "orders_plugin_item/index", :order => @order, :f => nil %>
    </div>

    <p>
      <%= t('orders_plugin.views.mailer.order_confirmation.your_order_can_be_che') %><br />
     <%= link_to t('orders_plugin.views.mailer.order_confirmation.order_code_of_profile') % {:code => @order.code, :name => @profile.name },
        "http://" + @host_with_port + url_for(:controller => :orders_cycle_plugin_order,
                                              :action => :edit, :profile => @profile.identifier, :id => @order.id) %>
    </p>

    <p>
      --<br/>
      <%= t('orders_plugin.views.mailer.order_confirmation.greetings') %>
    </p>
  </body>
</html>
