<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>

  <body>
    <p>
      <%= t('orders_plugin.views.mailer.order_confirmation.dear_name') % {:name => @consumer.name} %>
    </p>

    <p>
      <%= t('orders_plugin.views.mailer.order_confirmation.your_order_made_on_co') % {
        :name => @profile.name, :date => day_time(@order.updated_at)
      } %>
    </p>

    <% if @order.respond_to? :session %>
      <p>
        <%= t('orders_plugin.views.mailer.order_confirmation.the_delivery_period_w') % {
          :date => datetime_period_with_from(@order.session.delivery_start, @order.session.delivery_finish)
        } %>
      </p>
    <% end %>

    <p>
      <p><%= t('orders_plugin.views.mailer.order_confirmation.attention_to_the_foll') %></p>
      <b><%= @order.supplier_delivery.name %></b><br />
      <%= @order.supplier_delivery.description %><br />
    </p>

    <p><%= t('orders_plugin.views.mailer.order_confirmation.order_data_confirmed') %></p>

    <%= render :partial => 'orders_plugin/mailer/complete_order' %>

    <p>
      <%= t('orders_plugin.views.mailer.order_confirmation.your_order_can_be_che') %><br />
     <%= link_to t('orders_plugin.views.mailer.order_confirmation.order_code_of_profile') % {:code => @order.code, :name => @profile.name },
        "http://" + @host_with_port + url_for(:controller => :orders_plugin_consumer,
                                              :action => :edit, :profile => @profile.identifier, :id => @order.id) %>
    </p>

    <p>
      --<br/>
      <%= t('orders_plugin.views.mailer.order_confirmation.greetings') %>
    </p>
  </body>
</html>
